<!DOCTYPE html>
<html lang="en">
<head>
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <title>
        @ViewBag.Title
    </title>
    <meta name="description" content="Page Title">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <!-- Call App Mode on ios devices -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- base css -->
    <link id="vendorsbundle" rel="stylesheet" media="screen, print" href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/css/vendors.bundle.css">
    <link id="appbundle" rel="stylesheet" media="screen, print" href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/css/app.bundle.css">
    <link id="mytheme" rel="stylesheet" media="screen, print" href="#">
    <link id="myskin" rel="stylesheet" media="screen, print" href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/css/skins/skin-master.css">

    @Styles.Render("~/smartadmin/css")
    @*<link rel="stylesheet" media="screen, print" href="~/Content/smartadmin-package-4.5.1/smartadmin-html-slim/dist/css/vendors.bundle.css">
        <link rel="stylesheet" media="screen, print" href="~/Content/smartadmin-package-4.5.1/smartadmin-html-slim/dist/css/app.bundle.css">*@
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/img/favicon/favicon-32x32.png">
    <link rel="mask-icon" href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/img/favicon/safari-pinned-tab.svg" color="#5bbad5">

    <!--fontawesome-->
    <link href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/css/fa-brands.css" rel="stylesheet" />
    <link href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/css/fa-regular.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free/css/all.css" rel="stylesheet" />
</head>

<!-- BEGIN Body -->
<!-- Possible Classes

    * 'header-function-fixed'         - header is in a fixed at all times
    * 'nav-function-fixed'            - left panel is fixed
    * 'nav-function-minify'			  - skew nav to maximize space
    * 'nav-function-hidden'           - roll mouse on edge to reveal
    * 'nav-function-top'              - relocate left pane to top
    * 'mod-main-boxed'                - encapsulates to a container
    * 'nav-mobile-push'               - content pushed on menu reveal
    * 'nav-mobile-no-overlay'         - removes mesh on menu reveal
    * 'nav-mobile-slide-out'          - content overlaps menu
    * 'mod-bigger-font'               - content fonts are bigger for readability
    * 'mod-high-contrast'             - 4.5:1 text contrast ratio
    * 'mod-color-blind'               - color vision deficiency
    * 'mod-pace-custom'               - preloader will be inside content
    * 'mod-clean-page-bg'             - adds more whitespace
    * 'mod-hide-nav-icons'            - invisible navigation icons
    * 'mod-disable-animation'         - disables css based animations
    * 'mod-hide-info-card'            - hides info card from left panel
    * 'mod-lean-subheader'            - distinguished page header
    * 'mod-nav-link'                  - clear breakdown of nav links

    >>> more settings are described inside documentation page >>>
-->
<body class="mod-bg-1 mod-nav-link nav-function-minify header-function-fixed info-card">

    <!-- DOC: script to save and load page settings -->
    <script>
        /**
         *	This script should be placed right after the body tag for fast execution
         *	Note: the script is written in pure javascript and does not depend on thirdparty library
         **/
        'use strict';

        var classHolder = document.getElementsByTagName("BODY")[0],
            /**
             * Load from localstorage
             **/
            themeSettings = (localStorage.getItem('themeSettings')) ? JSON.parse(localStorage.getItem('themeSettings')) :
                {},
            themeURL = themeSettings.themeURL || '',
            themeOptions = themeSettings.themeOptions || '';
        /**
         * Load theme options
         **/
        if (themeSettings.themeOptions) {
            classHolder.className = themeSettings.themeOptions;
            console.log("%c✔ Theme settings loaded", "color: #148f32");
        }
        else {
            console.log("%c✔ Heads up! Theme settings is empty or does not exist, loading default settings...", "color: #ed1c24");
        }

        console.log("目前使用樣式" + themeSettings.themeURL);
        if (themeSettings.themeURL && !document.getElementById('mytheme')) {
            var cssfile = document.createElement('link');
            cssfile.id = 'mytheme';
            cssfile.rel = 'stylesheet';
            cssfile.href = themeURL;
            document.getElementsByTagName('head')[0].appendChild(cssfile);

        }
        else if (themeSettings.themeURL && document.getElementById('mytheme')) {
            console.log("%cthemeSettings.themeURL: " + themeSettings.themeURL, "color: #148f32");
            document.getElementById('mytheme').href = themeSettings.themeURL;
        }
        /**
         * Save to localstorage
         **/
        var saveSettings = function () {
            themeSettings.themeOptions = String(classHolder.className).split(/[^\w-]+/).filter(function (item) {
                return /^(nav|header|footer|mod|display)-/i.test(item);
            }).join(' ');
            if (document.getElementById('mytheme')) {
                themeSettings.themeURL = document.getElementById('mytheme').getAttribute("href");
            };
            localStorage.setItem('themeSettings', JSON.stringify(themeSettings));
        }
        /**
         * Reset settings
         **/
        var resetSettings = function () {
            localStorage.setItem("themeSettings", "");
        }

    </script>
    <!-- BEGIN Page Wrapper -->
    <div class="page-wrapper">
        <div class="page-inner">
            @Html.Partial("_MainSidebarPartial")
            <div class="page-content-wrapper">
                <!-- BEGIN Page Header -->
                @Html.Partial("_HeaderPartial")
                <!-- END Page Header -->
                <!-- BEGIN Page Content -->
                <!-- the #js-page-content id is needed for some plugins to initialize -->
                @RenderBody()
                <!-- this overlay is activated only when mobile menu is triggered -->
                <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div> <!-- END Page Content -->
                <!-- this overlay is activated only when mobile menu is triggered -->
                <!-- BEGIN Page Footer -->
                @Html.Partial("_FooterPartial")
                <!-- END Page Footer -->
                <!-- BEGIN Shortcuts -->
                @Html.Partial("_Shortcuts")
                <!-- END Shortcuts -->
            </div>
        </div>
    </div>
    <!-- END Page Wrapper -->
    <!-- BEGIN Quick Menu -->
    <!-- to add more items, please make sure to change the variable '$menu-items: number;' in your _page-components-shortcut.scss -->
    @Html.Partial("_NavbarPartial")
    <!-- END Quick Menu -->
    <!-- BEGIN Messenger -->
    @Html.Partial("_Messenger")
    <!-- END Messenger -->
    <!-- BEGIN Page Settings -->
    @Html.Partial("_PageSettings")
    <!-- END Page Settings -->
    <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-141754477-1', 'auto');
        ga('send', 'pageview');

        </script>
    <!-- base vendor bundle:
            DOC: if you remove pace.js from core please note on Internet Explorer some CSS animations may execute before a page is fully loaded, resulting 'jump' animations
                       + pace.js (recommended)
                       + jquery.js (core)
                       + jquery-ui-cust.js (core)
                       + popper.js (core)
                       + bootstrap.js (core)
                       + slimscroll.js (extension)
                       + app.navigation.js (core)
                       + ba-throttle-debounce.js (core)
                       + waves.js (extension)
                       + smartpanels.js (extension)
                       + src/../jquery-snippets.js (core) -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/smartadmin/js")
    <!--This page contains the basic JS and CSS files to get started on your project. If you need aditional addon's or plugins please see scripts located at the bottom of each page in order to find out which JS/CSS files to add.-->

    <script type="text/javascript">
        /* Activate smart panels */
        $('#js-page-content').smartPanel();

    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
