@*共有人*@
<div class="panel-tag">
    共有人
</div>
<div class="form-group">
    <div class="frame-wrap">
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="jqCoOwnerRadio_0" name="CoOwnerRadio" value="0" checked>
            <label class="custom-control-label" for="jqCoOwnerRadio_0">無</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="jqCoOwnerRadio_1" name="CoOwnerRadio" value="1">
            <label class="custom-control-label" for="jqCoOwnerRadio_1">1人</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="jqCoOwnerRadio_2" name="CoOwnerRadio" value="2">
            <label class="custom-control-label" for="jqCoOwnerRadio_2">2人</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="jqCoOwnerRadio_3" name="CoOwnerRadio" value="3">
            <label class="custom-control-label" for="jqCoOwnerRadio_3">3人</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="jqCoOwnerRadio_4" name="CoOwnerRadio" value="4">
            <label class="custom-control-label" for="jqCoOwnerRadio_4">4人</label>
        </div>
        @*<div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="jqCoOwnerRadio_5" name="CoOwnerRadio" value="5">
                <label class="custom-control-label" for="jqCoOwnerRadio_5">5人</label>
            </div>*@
    </div>
</div>

@*共有人1*@
<div class="panel-tag getco1">
    共有人1
</div>
<div class="form-group getco1">
    <label class="form-label" for="jqname_Co1">共有人1姓名</label>
    <input type="text" class="form-control CoInput_1" data-input="0" id="Name_Co1">
    <div class="invalid-feedback">
        請輸入共有人姓名
    </div>
</div>
@*<div class="form-group getco1">
        <label class="form-label" for="birthday">生日</label>
        <div class="col-md-8 col-lg-6 mb-3 pl-0">
            <div class="input-group w-100">
                <div class="input-group-append">
                    <span class="input-group-text">民國</span>
                </div>
                <input type="number" class="form-control CoInput_1" max="@(Convert.ToInt32(DateTime.Now.Year)-1911)" min="1" data-input="1" id="birthdayYear_Co1">
                <div class="input-group-append">
                    <span class="input-group-text">年</span>
                </div>
                <input type="number" class="form-control birthdayMonth CoInput_1" max="12" min="1" id="birthdayMonth_Co1" data-input="2" data-index="11">
                <div class="input-group-append">
                    <span class="input-group-text">月</span>
                </div>
                <input type="number" class="form-control birthdayDay CoInput_1" max="31" min="1" id="birthdayDay_Co1" data-input="3" data-index="11">
                <div class="input-group-append">
                    <span class="input-group-text">日</span>
                </div>
            </div>
        </div>
    </div>*@
@*身分證字號*@
<div class="form-group getco1">
    <label class="form-label" for="IDnumber_Co1">身分證字號</label>
    <div class="row pb-2">
        <div class="col-12">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input national_check" id="International_Co1" data-index="1">
                <label class="custom-control-label" for="International_Co1">外籍</label>
            </div>
        </div>
    </div>
    <input type="text" class="form-control inputIDnumber CoInput_1" id="IDnumber_Co1" data-index="1" data-input="4" pattern="^[A-Z]\d{9}$" />
    <div class="invalid-feedback">
        請輸入身分證字號，並確認格式為【1個英文字母+9個數字】 (ex.A123456789)
    </div>
</div>
@*連絡電話*@
<div class="form-group getco1">
    <label class="form-label" for="Phone_Co1">連絡電話</label>
    <input type="text" class="form-control inputPhoneNumber CoInput_1" id="Phone_Co1" data-index="1" data-input="5" pattern="^\d{10}$">
    <div class="invalid-feedback">
        請輸入連絡電話，並確認格式為【10個數字】
    </div>
</div>
@*戶籍地址*@
<div class="form-group getco1">
    <label class="form-label">戶籍地址</label>
    <span class="text-danger">*</span>
    <div class="row">
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_city CoInput_1" data-index="11" data-input="6">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇縣/市
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_district CoInput_1" data-index="11" data-input="7">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇鄉/鎮/市/區
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_road CoInput_1" id="road_Co1" data-index="11" data-input="8">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇街/路
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <input type="text" class="form-control CoInput_1" id="AddressDetail_Co1" placeholder="ex.108號1樓" data-input="9">
        </div>
    </div>
</div>
@*通訊地址*@
<div class="form-group getco1">
    <div class="row pb-2">
        <div class="col-12">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input sameaddress" id="sameaddress_Co1" data-index="12">
                <label class="custom-control-label" for="sameaddress_Co1">同戶籍地址</label>
            </div>
        </div>
    </div>
    <label class="form-label">通訊地址</label>
    <span class="text-danger">*</span>
    <div class="row">
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_city select_contact_12 CoInput_1" data-index="12" data-input="10">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇縣/市
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_district select_contact_12 CoInput_1" data-index="12" data-input="11">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇鄉/鎮/市/區
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_road select_contact_12 CoInput_1" id="road_contact_Co1" data-index="12" data-input="12">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇街/路
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <input type="text" class="form-control select_contact_12 CoInput_1" id="detailcontact_Co1" data-index="12" placeholder="ex.108號1樓" data-input="13">
        </div>
    </div>
</div>
<input type="text" id="CoOwnerInput1" name="CoOwnerInput1" hidden />
@*共有人2*@
<div class="panel-tag getco2">
    共有人2
</div>
<div class="form-group getco2">
    <label class="form-label" for="Name_Co2">共有人2姓名</label>
    <input type="text" class="form-control CoInput_2" id="Name_Co2" data-input="0">
    <div class="invalid-feedback">
        請輸入共有人姓名
    </div>
</div>
@*<div class="form-group getco2">
        <label class="form-label" for="birthday">生日</label>
        <div class="col-md-8 col-lg-6 mb-3 pl-0">
            <div class="input-group w-100">
                <div class="input-group-append">
                    <span class="input-group-text">民國</span>
                </div>
                <input type="number" class="form-control CoInput_2" max="@(Convert.ToInt32(DateTime.Now.Year)-1911)" min="1" id="birthdayYear_Co2" data-input="1">
                <div class="input-group-append">
                    <span class="input-group-text">年</span>
                </div>
                <input type="number" class="form-control birthdayMonth CoInput_2" max="12" min="1" id="birthdayMonth_Co2" data-index="12" data-input="2">
                <div class="input-group-append">
                    <span class="input-group-text">月</span>
                </div>
                <input type="number" class="form-control birthdayDay CoInput_2" max="31" min="1" id="birthdayDay_Co2" data-index="12" data-input="3">
                <div class="input-group-append">
                    <span class="input-group-text">日</span>
                </div>
            </div>
        </div>
    </div>*@
@*身分證字號*@
<div class="form-group getco2">
    <label class="form-label" for="IDnumber_Co2">身分證字號</label>
    <div class="row pb-2">
        <div class="col-12">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input national_check" id="International_Co2" data-index="2">
                <label class="custom-control-label" for="International_Co2">外籍</label>
            </div>
        </div>
    </div>
    <input type="text" class="form-control inputIDnumber CoInput_2" id="IDnumber_Co2" data-index="2" pattern="^[A-Z]\d{9}$" data-input="4">
    <div class="invalid-feedback">
        請輸入身分證字號，並確認格式為【1個英文字母+9個數字】 (ex.A123456789)
    </div>
</div>
@*連絡電話*@
<div class="form-group getco2">
    <label class="form-label" for="Phone_Co2">連絡電話</label>
    <input type="text" class="form-control inputPhoneNumber CoInput_2" id="Phone_Co2" data-index="2" pattern="^\d{10}$" data-input="5">
    <div class="invalid-feedback">
        請輸入連絡電話，並確認格式為【10個數字】
    </div>
</div>
@*戶籍地址*@
<div class="form-group getco2">
    <label class="form-label">戶籍地址</label>
    <span class="text-danger">*</span>
    <div class="row">
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_city CoInput_2" data-index="13" data-input="6">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇縣/市
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_district CoInput_2" data-index="13" data-input="7">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇鄉/鎮/市/區
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_road CoInput_2" data-index="13" id="road_Co2" data-input="8">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇街/路
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <input type="text" class="form-control CoInput_2" id="AddressDetail_Co2" placeholder="ex.108號1樓" data-input="9">
        </div>
    </div>
</div>
@*通訊地址*@
<div class="form-group getco2">
    <div class="row pb-2">
        <div class="col-12">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input sameaddress" id="sameaddress_Co2" data-index="14">
                <label class="custom-control-label" for="sameaddress_Co2">同戶籍地址</label>
            </div>
        </div>
    </div>
    <label class="form-label">通訊地址</label>
    <span class="text-danger">*</span>
    <div class="row">
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_city select_contact_14 CoInput_2" data-index="14" data-input="10">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇縣/市
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_district select_contact_14 CoInput_2" data-index="14" data-input="11">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇鄉/鎮/市/區
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_road select_contact_14 CoInput_2" data-index="14" id="road_contact_Co2" data-input="12">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇街/路
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <input type="text" class="form-control select_contact_14 CoInput_2" id="detailcontact_Co2" data-index="14" placeholder="ex.108號1樓" data-input="13">
        </div>
    </div>
</div>
<input type="text" id="CoOwnerInput2" name="CoOwnerInput2" hidden />

@*共有人3*@
<div class="panel-tag getco3">
    共有人3
</div>
<div class="form-group getco3">
    <label class="form-label" for="jqname_Co3">共有人3姓名</label>
    <input type="text" class="form-control CoInput_3" id="Name_Co3" data-input="0">
    <div class="invalid-feedback">
        請輸入共有人姓名
    </div>
</div>
@*<div class="form-group getco3">
        <label class="form-label" for="birthday">生日</label>
        <div class="col-md-8 col-lg-6 mb-3 pl-0">
            <div class="input-group w-100">
                <div class="input-group-append">
                    <span class="input-group-text">民國</span>
                </div>
                <input type="number" class="form-control CoInput_3" max="@(Convert.ToInt32(DateTime.Now.Year)-1911)" min="1" id="birthdayYear_Co3" data-input="1">
                <div class="input-group-append">
                    <span class="input-group-text">年</span>
                </div>
                <input type="number" class="form-control birthdayMonth CoInput_3" max="12" min="1" id="birthdayMonth_Co3" data-index="13" data-input="2">
                <div class="input-group-append">
                    <span class="input-group-text">月</span>
                </div>
                <input type="number" class="form-control birthdayDay CoInput_3" max="31" min="1" id="birthdayDay_Co3" data-index="13" data-input="3">
                <div class="input-group-append">
                    <span class="input-group-text">日</span>
                </div>
            </div>
        </div>
    </div>*@
@*身分證字號*@
<div class="form-group getco3">
    <label class="form-label" for="IDnumber_Co3">身分證字號</label>
    <div class="row pb-2">
        <div class="col-12">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input national_check" id="International_Co3" data-index="3">
                <label class="custom-control-label" for="International_Co3">外籍</label>
            </div>
        </div>
    </div>
    <input type="text" class="form-control inputIDnumber CoInput_3" id="IDnumber_Co3" data-index="3" pattern="^[A-Z]\d{9}$" data-input="4">
    <div class="invalid-feedback">
        請輸入身分證字號，並確認格式為【1個英文字母+9個數字】 (ex.A123456789)
    </div>
</div>
@*連絡電話*@
<div class="form-group getco3">
    <label class="form-label" for="Phone_Co3">連絡電話</label>
    <input type="text" class="form-control inputPhoneNumber CoInput_3" id="Phone_Co3" data-index="3" pattern="^\d{10}$" data-input="5">
    <div class="invalid-feedback">
        請輸入連絡電話，並確認格式為【10個數字】
    </div>
</div>
@*戶籍地址*@
<div class="form-group getco3">
    <label class="form-label">戶籍地址</label>
    <span class="text-danger">*</span>
    <div class="row">
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_city CoInput_3" data-index="15" data-input="6">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇縣/市
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_district CoInput_3" data-index="15" data-input="7">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇鄉/鎮/市/區
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_road CoInput_3" data-index="15" id="road_Co3" data-input="8">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇街/路
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <input type="text" class="form-control CoInput_3" id="AddressDetail_Co3" placeholder="ex.108號1樓" data-input="9">
        </div>
    </div>
</div>
@*通訊地址*@
<div class="form-group getco3">
    <div class="row pb-2">
        <div class="col-12">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input sameaddress" id="sameaddress_Co3" data-index="16">
                <label class="custom-control-label" for="sameaddress_Co3">同戶籍地址</label>
            </div>
        </div>
    </div>
    <label class="form-label">通訊地址</label>
    <span class="text-danger">*</span>
    <div class="row">
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_city select_contact_16 CoInput_3" data-index="16" data-input="10">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇縣/市
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_district select_contact_16 CoInput_3" data-index="16" data-input="11">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇鄉/鎮/市/區
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_road select_contact_16 CoInput_3" data-index="16" id="road_contact_Co3" data-input="12">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇街/路
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <input type="text" class="form-control select_contact_16 CoInput_3" id="detailcontact_Co3" data-index="16" placeholder="ex.108號1樓" data-input="13">
        </div>
    </div>
</div>
<input type="text" id="CoOwnerInput3" name="CoOwnerInput3" hidden />

@*共有人4*@
<div class="panel-tag getco4">
    共有人4
</div>
<div class="form-group getco4">
    <label class="form-label" for="Name_Co4">共有人4姓名</label>
    <input type="text" class="form-control CoInput_4" id="Name_Co4" data-input="0">
    <div class="invalid-feedback">
        請輸入共有人姓名
    </div>
</div>
@*<div class="form-group getco4">
        <label class="form-label" for="birthday">生日</label>
        <div class="col-md-8 col-lg-6 mb-3 pl-0">
            <div class="input-group w-100">
                <div class="input-group-append">
                    <span class="input-group-text">民國</span>
                </div>
                <input type="number" class="form-control CoInput_4" max="@(Convert.ToInt32(DateTime.Now.Year)-1911)" min="1" id="birthdayYear_Co4" data-input="1">
                <div class="input-group-append">
                    <span class="input-group-text">年</span>
                </div>
                <input type="number" class="form-control birthdayMonth CoInput_4" max="12" min="1" id="birthdayMonth_Co4" data-index="14" data-input="2">
                <div class="input-group-append">
                    <span class="input-group-text">月</span>
                </div>
                <input type="number" class="form-control birthdayDay CoInput_4" max="31" min="1" id="birthdayDay_Co4" data-index="14" data-input="3">
                <div class="input-group-append">
                    <span class="input-group-text">日</span>
                </div>
            </div>
        </div>
    </div>*@
@*身分證字號*@
<div class="form-group getco4">
    <label class="form-label" for="IDnumber_Co4">身分證字號</label>
    <div class="row pb-2">
        <div class="col-12">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input national_check" id="International_Co4" data-index="4">
                <label class="custom-control-label" for="International_Co4">外籍</label>
            </div>
        </div>
    </div>
    <input type="text" class="form-control inputIDnumber CoInput_4" id="IDnumber_Co4" data-index="4" pattern="^[A-Z]\d{9}$" data-input="4">
    <div class="invalid-feedback">
        請輸入身分證字號，並確認格式為【1個英文字母+9個數字】 (ex.A123456789)
    </div>
</div>
@*連絡電話*@
<div class="form-group getco4">
    <label class="form-label" for="Phone_Co4">連絡電話</label>
    <input type="text" class="form-control inputPhoneNumber CoInput_4" id="Phone_Co4" data-index="4" pattern="^\d{10}$" data-input="5">
    <div class="invalid-feedback">
        請輸入連絡電話，並確認格式為【10個數字】
    </div>
</div>
@*戶籍地址*@
<div class="form-group getco4">
    <label class="form-label">戶籍地址</label>
    <span class="text-danger">*</span>
    <div class="row">
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_city CoInput_4" data-index="17" data-input="6">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇縣/市
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_district CoInput_4" data-index="17" data-input="7">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇鄉/鎮/市/區
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_road CoInput_4" data-index="17" id="road_Co4" data-input="8">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇街/路
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <input type="text" class="form-control CoInput_4" id="AddressDetail_Co4" placeholder="ex.108號1樓" data-input="9">
        </div>
    </div>
</div>
@*通訊地址*@
<div class="form-group getco4">
    <div class="row pb-2">
        <div class="col-12">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input sameaddress" id="sameaddress_Co4" data-index="18">
                <label class="custom-control-label" for="sameaddress_Co4">同戶籍地址</label>
            </div>
        </div>
    </div>
    <label class="form-label">通訊地址</label>
    <span class="text-danger">*</span>
    <div class="row">
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_city select_contact_18 CoInput_4" data-index="18" data-input="10">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇縣/市
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_district select_contact_18 CoInput_4" data-index="18" data-input="11">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇鄉/鎮/市/區
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_road select_contact_18 CoInput_4" data-index="18" id="road_contact_Co4" data-input="12">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇街/路
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <input type="text" class="form-control select_contact_18 CoInput_4" id="detailcontact_Co4" data-index="18" placeholder="ex.108號1樓" data-input="13">
        </div>
    </div>
</div>
<input type="text" id="CoOwnerInput4" name="CoOwnerInput4" hidden />

@*共有人5*@
<div class="panel-tag getco5">
    共有人5
</div>
<div class="form-group getco5">
    <label class="form-label" for="Name_Co5">共有人5姓名</label>
    <input type="text" id="Name_Co5" class="form-control CoInput_5" data-input="0">
    <div class="invalid-feedback">
        請輸入共有人姓名
    </div>
</div>
@*<div class="form-group getco5">
        <label class="form-label" for="birthday">生日</label>
        <div class="col-md-8 col-lg-6 mb-3 pl-0">
            <div class="input-group w-100">
                <div class="input-group-append">
                    <span class="input-group-text">民國</span>
                </div>
                <input type="number" class="form-control CoInput_5" max="@(Convert.ToInt32(DateTime.Now.Year)-1911)" min="1" id="birthdayYear_Co5" data-input="1">
                <div class="input-group-append">
                    <span class="input-group-text">年</span>
                </div>
                <input type="number" class="form-control birthdayMonth CoInput_5" max="12" min="1" id="birthdayMonth_Co5" data-index="15" data-input="2">
                <div class="input-group-append">
                    <span class="input-group-text">月</span>
                </div>
                <input type="number" class="form-control birthdayDay CoInput_5" max="31" min="1" id="birthdayDay_Co5" data-index="15" data-input="3">
                <div class="input-group-append">
                    <span class="input-group-text">日</span>
                </div>
            </div>
        </div>
    </div>*@
@*身分證字號*@
<div class="form-group getco5">
    <label class="form-label" for="IDnumber">身分證字號</label>
    <div class="row pb-2">
        <div class="col-12">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input national_check" id="International_Co5" data-index="5">
                <label class="custom-control-label" for="International_Co5">外籍</label>
            </div>
        </div>
    </div>
    <input type="text" class="form-control inputIDnumber CoInput_5" id="IDnumber_Co5" data-index="5" pattern="^[A-Z]\d{9}$" data-input="4">
    <div class="invalid-feedback">
        請輸入身分證字號，並確認格式為【1個英文字母+9個數字】 (ex.A123456789)
    </div>
</div>
@*連絡電話*@
<div class="form-group getco5">
    <label class="form-label" for="phonenumber_Co5">連絡電話</label>
    <input type="text" class="form-control inputPhoneNumber CoInput_5" id="Phone_Co5" data-index="5" pattern="^\d{10}$" data-input="5">
    <div class="invalid-feedback">
        請輸入連絡電話，並確認格式為【10個數字】
    </div>
</div>
@*戶籍地址*@
<div class="form-group getco5">
    <label class="form-label">戶籍地址</label>
    <span class="text-danger">*</span>
    <div class="row">
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_city CoInput_5" data-index="19" data-input="6">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇縣/市
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_district CoInput_5" data-index="19" data-input="7">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇鄉/鎮/市/區
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_road CoInput_5" data-index="19" id="road_Co5" data-input="8">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇街/路
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <input type="text" class="form-control CoInput_5" id="AddressDetail_Co5" placeholder="ex.108號1樓" data-input="9">
        </div>
    </div>
</div>
@*通訊地址*@
<div class="form-group getco5">
    <div class="row pb-2">
        <div class="col-12">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input sameaddress" id="sameaddress_Co5" data-index="20">
                <label class="custom-control-label" for="sameaddress_Co5">同戶籍地址</label>
            </div>
        </div>
    </div>
    <label class="form-label">通訊地址</label>
    <span class="text-danger">*</span>
    <div class="row">
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_city select_contact_20 CoInput_5" data-index="20" data-input="10">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇縣/市
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_district select_contact_20 CoInput_5" data-index="20" data-input="11">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇鄉/鎮/市/區
            </div>
        </div>
        <div class="col-lg-4 pt-3">
            <select class="custom-select form-control select2_road select_contact_20 CoInput_5" data-index="20" id="road_contact_Co5" data-input="12">
                <option value="" selected></option>
            </select>
            <div class="invalid-feedback">
                請選擇街/路
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12">
            <input type="text" class="form-control select_contact_20 CoInput_5" id="detailcontact_Co5" data-index="20" placeholder="ex.108號1樓" data-input="13">
        </div>
    </div>
</div>
<input type="text" id="CoOwnerInput5" name="CoOwnerInput5" hidden />
