@model LiqunManagement.ViewModels.FormViewModels
@{
    ViewBag.Title = "表單四期";
    ViewBag.Controller = "Form";
    Layout = "~/Views/Shared/smartadmin_Layout.cshtml";

    var FormID = Model.FormID != null ? Model.FormID : "";
    var ErrorMessage = ViewBag.ErrorMessage != null ? ViewBag.ErrorMessage : "";
    var ControllerName = @ViewBag.ControllerName;

}
<style>
    .padding-top-ten {
        padding-top: 10px !important;
    }

    .panel .panel-toolbar {
        display: none;
    }

    .panel.panel-locked:not(.panel-fullscreen) .panel-hdr h2:before {
        display: none;
    }

    .form-label {
        font-weight: 600 !important;
    }
</style>
@*select2*@
@*<link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />*@
<link href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/css/formplugins/select2/select2.bundle.css" rel="stylesheet" />
@*datepicker*@
<link href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" />
@*sweetalert2*@
<link href="~/Content/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);">後臺管理系統</a>
        </li>
        <li class="breadcrumb-item">填寫表單</li>
        <li class="breadcrumb-item">四期</li>
        <li class="breadcrumb-item active">表單閱覽</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block">
            <span class="js-get-date"></span>
        </li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-edit"></i>
            <span class="font-weight-bold" style="padding-top:5px;">表單閱覽</span>
            <small>

            </small>
        </h1>
    </div>
    <div class="demo-window-content">
        <div class="row no-gutters">
            <div class="col-auto width-sm">
                <nav id="spyscroll-3" class="navbar align-items-start p-2 flex-column h-100 bg-fusion-500">
                    <nav class="nav nav-pills flex-column w-100">
                        <a class="nav-link text-white active" href="#item-1">物件資料</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ml-3 my-1 text-white" href="#item-1-1">房屋附屬物件</a>
                        </nav>
                        <a class="nav-link text-white" href="#item-2">房東資料</a>
                        <nav class="nav nav-pills flex-column">
                            @if (Convert.ToInt32(Model.landlordviewmodel.AgentCount) > 0)
                            {
                                <a class="nav-link ml-3 my-1 text-white" href="#item-2-1">代理人</a>
                            }
                            @if (Convert.ToInt32(Model.landlordviewmodel.CoOwnerCount) > 0)
                            {
                                <a class="nav-link ml-3 my-1 text-white" href="#item-2-2">共有人</a>
                            }
                        </nav>
                        <a class="nav-link text-white" href="#item-3">房客資料</a>
                        <nav class="nav nav-pills flex-column">
                            @if (Convert.ToInt32(Model.tenantviewmodel.DirectCount) > 0)
                            {
                                <a class="nav-link ml-3 my-1 text-white" href="#item-3-1">直系親屬</a>
                            }
                            @if (Convert.ToInt32(Model.tenantviewmodel.AgentCount) > 0)
                            {
                                <a class="nav-link ml-3 my-1 text-white" href="#item-3-2">代理人</a>
                            }
                            @if (Convert.ToInt32(Model.tenantviewmodel.GuarantorCount) > 0)
                            {
                                <a class="nav-link ml-3 my-1 text-white" href="#item-3-3">保證人</a>
                            }
                        </nav>
                        <a class="nav-link text-white" href="#item-4">秘書填寫</a>
                    </nav>
                </nav>
            </div>
            <div class="col">
                <div data-spy="scroll" data-target="#spyscroll-3" data-offset="10" class="position-relative overflow-auto p-4" style="height:650px">

                    <h2 class="font-weight-bolder" id="item-1">物件資料</h2>
                    <p>類別 : @Model.homeobjectviewmodel.objecttypeStr</p>
                    <p>是否公證 : @(Model.homeobjectviewmodel.notarization == 1 ? "是" : "否")</p>
                    <p>簽約日 : @Model.homeobjectviewmodel.signdateStr</p>
                    <p>估價師 : @(Model.homeobjectviewmodel.appraiser == 1 ? "有" : "無")</p>
                    <p>特色 : @Model.homeobjectviewmodel.feature</p>
                    <p>物件地址 : @Model.homeobjectviewmodel.fulladdress</p>
                    <p>主要用途 : @Model.homeobjectviewmodel.useforStr</p>
                    <p>上傳稅單 : @(ViewBag.FileNameList == null ? "無" : "")</p>
                    <div class="form-group" id="filenameSpace">
                        @if (ViewBag.FileNameList != null)
                        {
                            if (ViewBag.FileNameList.Count > 0)
                            {
                                <table class="table table-hover text-nowrap table-bordered">
                                    <thead>
                                        <tr style="text-align:center; vertical-align:middle; background-color:#99ccff;">
                                            <th style=" width:60px;">編號</th>
                                            <th>檔案名稱</th>
                                            <th style="text-align:center; vertical-align:middle; width:60px;">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < ViewBag.FileNameList.Count; i++)
                                        {
                                            <tr>
                                                <td style="text-align:center; vertical-align:middle;">@i</td>
                                                <td style="text-align:left; vertical-align:middle;">
                                                    @ViewBag.FileNameList[i]
                                                    <button class="btn btn-light btn-sm" type="button" onclick="downloadfile('@ViewBag.FileAliasList[i]')"><i class="fa fa-download"></i></button>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            }
                        }
                    </div>
                    <p>租金 : $ @Model.homeobjectviewmodel.rentStr</p>
                    <p>押金 : $ @Model.homeobjectviewmodel.depositStr</p>
                    <p>管理費 : $ @Model.homeobjectviewmodel.management_feeStr</p>
                    <p>起租日 : @Model.homeobjectviewmodel.startdateStr</p>
                    <p>結束日 : @Model.homeobjectviewmodel.enddateStr</p>
                    <p>繳租日 : @Model.homeobjectviewmodel.paydate</p>
                    <p>建物型態 : @Model.homeobjectviewmodel.buildtypeStr</p>
                    <p>房型 : @Model.homeobjectviewmodel.roomtypeStr (@Model.homeobjectviewmodel.roomamountlist[0]房, @Model.homeobjectviewmodel.roomamountlist[1]廳, @Model.homeobjectviewmodel.roomamountlist[2]衛 )</p>

                    <h4 class="font-weight-bolder" id="item-1-1">房屋附屬物件</h4>
                    <p>設備 : </p>
                    <p>天然瓦斯 : @(Model.homeobjectviewmodel.Accessorylist[0] != 0 ? "有" : "無")</p>
                    <p>有線電視(第四台) : @(Model.homeobjectviewmodel.Accessorylist[1] != 0 ? "有" : "無")</p>
                    <p>無線網路 : @(Model.homeobjectviewmodel.Accessorylist[2] != 0 ? "有" : "無")</p>
                    <p>電熱水器 : @(Model.homeobjectviewmodel.Accessorylist[3] != 0 ? "有" : "無")</p>
                    <p>瓦斯熱水器(室內) : @(Model.homeobjectviewmodel.Accessorylist[4] != 0 ? "有" : "無")</p>
                    <p>瓦斯熱水器(室外) : @(Model.homeobjectviewmodel.Accessorylist[5] != 0 ? "有" : "無")</p>
                    <p>家電 : </p>
                    <p>電視 : @Model.homeobjectviewmodel.Accessorylist[6] 臺</p>
                    <p>冷氣 : @Model.homeobjectviewmodel.Accessorylist[7] 臺</p>
                    <p>冰箱 : @Model.homeobjectviewmodel.Accessorylist[8] 臺</p>
                    <p>熱水器 : @Model.homeobjectviewmodel.Accessorylist[9] 臺</p>
                    <p>洗衣機 : @Model.homeobjectviewmodel.Accessorylist[10] 臺</p>
                    <p>微波爐 : @Model.homeobjectviewmodel.Accessorylist[11] 臺</p>
                    <p>洗碗機 : @Model.homeobjectviewmodel.Accessorylist[12] 臺</p>
                    <p>排油煙機 : @Model.homeobjectviewmodel.Accessorylist[13] 臺</p>
                    <p>瓦斯爐 : @Model.homeobjectviewmodel.Accessorylist[14] 個</p>
                    <p>家具 : </p>
                    <p>鞋櫃 : @Model.homeobjectviewmodel.Accessorylist[15] 件</p>
                    <p>餐桌 : @Model.homeobjectviewmodel.Accessorylist[16] 件</p>
                    <p>餐桌椅 : @Model.homeobjectviewmodel.Accessorylist[17] 件</p>
                    <p>沙發 : @Model.homeobjectviewmodel.Accessorylist[18] 件</p>
                    <p>電視櫃 : @Model.homeobjectviewmodel.Accessorylist[19] 個</p>
                    <p>茶几 : @Model.homeobjectviewmodel.Accessorylist[20] 件</p>
                    <p>床組(頭) : @Model.homeobjectviewmodel.Accessorylist[21] 件</p>
                    <p>衣櫃 : @Model.homeobjectviewmodel.Accessorylist[22] 組</p>
                    <p>置物櫃 : @Model.homeobjectviewmodel.Accessorylist[23] 件</p>
                    <p>梳妝台 : @Model.homeobjectviewmodel.Accessorylist[24] 件</p>
                    <p>書櫃 : @Model.homeobjectviewmodel.Accessorylist[25] 件</p>
                    <p>書桌 : @Model.homeobjectviewmodel.Accessorylist[26] 張</p>
                    <p>書桌椅 : @Model.homeobjectviewmodel.Accessorylist[27] 張</p>
                    <p>汽車車位 : @(Model.homeobjectviewmodel.haveparklist[1] != 1 ? "無" : "")</p>

                    @if (Model.homeobjectviewmodel.haveparklist[1] == 1)
                    {
                        <p> 車位樣式 : @Model.homeobjectviewmodel.parktypeStr </p>
                        <p> 車位位於 : @Model.homeobjectviewmodel.parkfloor </p>
                        <p> 車位編號 : @Model.homeobjectviewmodel.carpositionnumber </p>
                        <p> 汽車位月租金 : $ @(string.Format("{0:N0}", Model.homeobjectviewmodel.carmonthrent)) </p>
                        <p> 汽車位管理費 : $ @(string.Format("{0:N0}", Model.homeobjectviewmodel.carparkmanagefee)) </p>
                    }

                    <p>機車車位 : @(Model.homeobjectviewmodel.haveparklist[2] != 1 ? "無" : "")</p>
                    @if (Model.homeobjectviewmodel.haveparklist[2] == 1)
                    {
                        <p> 車位位於 : @Model.homeobjectviewmodel.scooterparkfloor </p>
                        <p> 車位編號 : @Model.homeobjectviewmodel.scooterpositionnumber </p>
                        <p> 機車位月租金 : $ @(string.Format("{0:N0}", Model.homeobjectviewmodel.scootermonthrent)) </p>
                        <p> 機車位管理費 : $ @(string.Format("{0:N0}", Model.homeobjectviewmodel.scootermanagefee)) </p>
                    }
                    <!--備註欄-->
                    <div class="form-group">
                        <label class="form-label" for="example-textarea">備註</label>
                        <textarea class="form-control" rows="5" style="height: 122px;">@Model.homeobjectviewmodel.Memo</textarea>
                    </div>


                    <!--房東資料-->
                    <h2 id="item-2" class="fw-500 pt-2 font-weight-bolder" style="">房東資料</h2>
                    @if (@Model.landlordviewmodel != null)
                    {
                        if (@Model.landlordviewmodel.Gender != 2)
                        {
                            <p>房東姓名 : @Model.landlordviewmodel.Name</p>
                            <p>房東性別 : @(Model.landlordviewmodel.Gender == 1 ? "男性" : "女性")</p>
                            <p>房東生日 : @Model.landlordviewmodel.BirthdayStr</p>
                            <p>房東身分證 : @Model.landlordviewmodel.IDNumber</p>
                            <p>房東電話 :  @Model.landlordviewmodel.Phone</p>
                            <p>銀行 :  @Model.landlordviewmodel.BankNo</p>
                            <p>分行 :  @Model.landlordviewmodel.BrancheNo</p>
                            <p>房東帳號 :  @Model.landlordviewmodel.BankAccount</p>
                            <p>房東戶籍地址 :  @Model.landlordviewmodel.Address</p>
                            <p>房東通訊地址 :  @Model.landlordviewmodel.ContactAddress</p>
                        }
                        else
                        {
                            <p>法人姓名 : @Model.landlordviewmodel.Name</p>
                            <p>統一編號 : @Model.landlordviewmodel.IDNumber</p>
                            <p>公司電話 :  @Model.landlordviewmodel.Phone</p>
                            <p>銀行 :  @Model.landlordviewmodel.BankNo</p>
                            <p>分行 :  @Model.landlordviewmodel.BrancheNo</p>
                            <p>法人帳號 :  @Model.landlordviewmodel.BankAccount</p>
                            <p>法人戶籍地址 :  @Model.landlordviewmodel.Address</p>
                            <p>法人通訊地址 :  @Model.landlordviewmodel.ContactAddress</p>
                        }

                        if (Model.landlordviewmodel.AgentCount > 0)
                        {
                            <p id="item-2-1">代理人 :</p>
                            <p> 姓名 : @Model.landlordviewmodel.AgentList[0]</p>
                            <p> 身分證 : @Model.landlordviewmodel.AgentList[1]</p>
                            <p> 電話 : @Model.landlordviewmodel.AgentList[2]</p>
                            <p> 戶籍地址 : @Model.landlordviewmodel.AgentList[3]@Model.landlordviewmodel.AgentList[4]</p>
                            <p> 通訊地址 : @Model.landlordviewmodel.AgentList[5]@Model.landlordviewmodel.AgentList[6]</p>
                        }

                        for (int i = 1; i <= Model.landlordviewmodel.CoOwnerCount; i++)
                        {
                            switch (i)
                            {
                                case 1:
                                    <p id="item-2-2">共有人 @i :</p>
                                    <p> 姓名 : @Model.landlordviewmodel.CoOwner1List[0]</p>
                                    <p> 身分證 : @Model.landlordviewmodel.CoOwner1List[1]</p>
                                    <p> 電話 : @Model.landlordviewmodel.CoOwner1List[2]</p>
                                    <p> 戶籍地址 : @Model.landlordviewmodel.CoOwner1List[3]@Model.landlordviewmodel.CoOwner1List[4]</p>
                                    <p> 通訊地址 : @Model.landlordviewmodel.CoOwner1List[5]@Model.landlordviewmodel.CoOwner1List[6]</p>
                                    break;

                                case 2:
                                    <p>共有人 @i :</p>
                                    <p> 姓名 : @Model.landlordviewmodel.CoOwner2List[0]</p>
                                    <p> 身分證 : @Model.landlordviewmodel.CoOwner2List[1]</p>
                                    <p> 電話 : @Model.landlordviewmodel.CoOwner2List[2]</p>
                                    <p> 戶籍地址 : @Model.landlordviewmodel.CoOwner2List[3]@Model.landlordviewmodel.CoOwner2List[4]</p>
                                    <p> 通訊地址 : @Model.landlordviewmodel.CoOwner2List[5]@Model.landlordviewmodel.CoOwner2List[6]</p>
                                    break;

                                case 3:
                                    <p>共有人 @i :</p>
                                    <p> 姓名 : @Model.landlordviewmodel.CoOwner3List[0]</p>
                                    <p> 身分證 : @Model.landlordviewmodel.CoOwner3List[1]</p>
                                    <p> 電話 : @Model.landlordviewmodel.CoOwner3List[2]</p>
                                    <p> 戶籍地址 : @Model.landlordviewmodel.CoOwner3List[3]@Model.landlordviewmodel.CoOwner3List[4]</p>
                                    <p> 通訊地址 : @Model.landlordviewmodel.CoOwner3List[5]@Model.landlordviewmodel.CoOwner3List[6]</p>
                                    break;

                                case 4:
                                    <p>共有人 @i :</p>
                                    <p> 姓名 : @Model.landlordviewmodel.CoOwner4List[0]</p>
                                    <p> 身分證 : @Model.landlordviewmodel.CoOwner4List[1]</p>
                                    <p> 電話 : @Model.landlordviewmodel.CoOwner4List[2]</p>
                                    <p> 戶籍地址 : @Model.landlordviewmodel.CoOwner4List[3]@Model.landlordviewmodel.CoOwner4List[4]</p>
                                    <p> 通訊地址 : @Model.landlordviewmodel.CoOwner4List[5]@Model.landlordviewmodel.CoOwner4List[6]</p>
                                    break;

                                case 5:
                                    <p>共有人 @i :</p>
                                    <p> 姓名 : @Model.landlordviewmodel.CoOwner5List[0]</p>
                                    <p> 身分證 : @Model.landlordviewmodel.CoOwner5List[1]</p>
                                    <p> 電話 : @Model.landlordviewmodel.CoOwner5List[2]</p>
                                    <p> 戶籍地址 : @Model.landlordviewmodel.CoOwner5List[3]@Model.landlordviewmodel.CoOwner5List[4]</p>
                                    <p> 通訊地址 : @Model.landlordviewmodel.CoOwner5List[5]@Model.landlordviewmodel.CoOwner5List[6]</p>
                                    break;
                            }
                        }
                        <!--備註欄-->
                        <div class="form-group">
                            <label class="form-label" for="example-textarea">備註</label>
                            <textarea class="form-control" rows="5" style="height: 122px;">@Model.landlordviewmodel.Memo</textarea>
                        </div>
                    }

                    <!--房客資料-->
                    <h2 id="item-3" class="fw-500 pt-3 font-weight-bolder" style="">房客資料</h2>
                    @if (@Model.tenantviewmodel != null)
                    {
                        <p>房客身分別 : @Model.tenantviewmodel.TenantTypeName</p>
                        <p>房客姓名 : @Model.tenantviewmodel.Name</p>
                        <p>房客性別 : @(Model.tenantviewmodel.Gender == 1 ? "男性" : "女性")</p>
                        <p>房客生日 : @Model.tenantviewmodel.BirthdayStr</p>
                        <p>房客身分證 : @Model.tenantviewmodel.IDNumber</p>
                        <p>房客電話 : @Model.tenantviewmodel.Phone</p>
                        <p>銀行 : @Model.tenantviewmodel.BankNo</p>
                        <p>分行 : @Model.tenantviewmodel.BrancheNo</p>
                        <p>房客帳號 : @Model.tenantviewmodel.BankAccount</p>
                        <p>房客戶籍地址 : @Model.tenantviewmodel.Address</p>
                        <p>房客通訊地址 : @Model.tenantviewmodel.ContactAddress</p>
                        <p>戶號: @Model.tenantviewmodel.accountNo</p>

                        if (Model.tenantviewmodel.CoupleCount != "0")
                        {
                            <p class="font-weight-bolder">配偶 :</p>
                            <p> 性別 : @(Model.tenantviewmodel.CoupleArray[0] == "1" ? "丈夫" : "妻子")</p>
                            <p> 姓名 : @Model.tenantviewmodel.CoupleArray[1]</p>
                            <p> 身分證 : @Model.tenantviewmodel.CoupleArray[2]</p>
                            <p> 生日 : @Model.tenantviewmodel.CoupleArray[3]</p>
                            <p> 分戶戶號 : @(String.IsNullOrEmpty(Model.tenantviewmodel.CoupleArray[4]) ? "無" : Model.tenantviewmodel.CoupleArray[4])</p>
                        }

                        for (int i = 1; i <= Convert.ToInt32(Model.tenantviewmodel.DirectCount); i++)
                        {
                            var birthDay = "";
                            var birthdate = DateTime.Now;
                            switch (i)
                            {
                                case 1:
                                    birthdate = Convert.ToDateTime(Model.tenantviewmodel.Family1Array[3]);
                                    birthDay = (birthdate.Year - 1911).ToString() + birthdate.ToString("年MM月dd日");
                                    <p class="font-weight-bolder" id="item-3-1">直系親屬 @i :</p>
                                    <p> 身分 : @Model.tenantviewmodel.Family1Array[0]</p>
                                    <p> 姓名 : @Model.tenantviewmodel.Family1Array[1]</p>
                                    <p> 身分證 : @Model.tenantviewmodel.Family1Array[2]</p>
                                    <p> 生日 : @birthDay</p>
                                    break;
                                case 2:
                                    birthdate = Convert.ToDateTime(Model.tenantviewmodel.Family2Array[3]);
                                    birthDay = (birthdate.Year - 1911).ToString() + birthdate.ToString("年MM月dd日");
                                    <p class="font-weight-bolder">直系親屬 @i :</p>
                                    <p> 身分 : @Model.tenantviewmodel.Family2Array[0]</p>
                                    <p> 姓名 : @Model.tenantviewmodel.Family2Array[1]</p>
                                    <p> 身分證 : @Model.tenantviewmodel.Family2Array[2]</p>
                                    <p> 生日 : @birthDay</p>
                                    break;
                                case 3:
                                    birthdate = Convert.ToDateTime(Model.tenantviewmodel.Family3Array[3]);
                                    birthDay = (birthdate.Year - 1911).ToString() + birthdate.ToString("年MM月dd日");
                                    <p class="font-weight-bolder">直系親屬 @i :</p>
                                    <p> 身分 : @Model.tenantviewmodel.Family3Array[0]</p>
                                    <p> 姓名 : @Model.tenantviewmodel.Family3Array[1]</p>
                                    <p> 身分證 : @Model.tenantviewmodel.Family3Array[2]</p>
                                    <p> 生日 : @birthDay</p>
                                    break;
                                case 4:
                                    birthdate = Convert.ToDateTime(Model.tenantviewmodel.Family4Array[3]);
                                    birthDay = (birthdate.Year - 1911).ToString() + birthdate.ToString("年MM月dd日");
                                    <p class="font-weight-bolder">直系親屬 @i :</p>
                                    <p> 身分 : @Model.tenantviewmodel.Family4Array[0]</p>
                                    <p> 姓名 : @Model.tenantviewmodel.Family4Array[1]</p>
                                    <p> 身分證 : @Model.tenantviewmodel.Family4Array[2]</p>
                                    <p> 生日 : @Model.tenantviewmodel.Family4Array[3]</p>
                                    break;
                                case 5:
                                    birthdate = Convert.ToDateTime(Model.tenantviewmodel.Family5Array[3]);
                                    birthDay = (birthdate.Year - 1911).ToString() + birthdate.ToString("年MM月dd日");
                                    <p class="font-weight-bolder">直系親屬 @i :</p>
                                    <p> 身分 : @Model.tenantviewmodel.Family5Array[0]</p>
                                    <p> 姓名 : @Model.tenantviewmodel.Family5Array[1]</p>
                                    <p> 身分證 : @Model.tenantviewmodel.Family5Array[2]</p>
                                    <p> 生日 : @birthDay</p>
                                    break;
                                case 6:
                                    birthdate = Convert.ToDateTime(Model.tenantviewmodel.Family6Array[3]);
                                    birthDay = (birthdate.Year - 1911).ToString() + birthdate.ToString("年MM月dd日");
                                    <p class="font-weight-bolder">直系親屬 @i :</p>
                                    <p> 身分 : @Model.tenantviewmodel.Family6Array[0]</p>
                                    <p> 姓名 : @Model.tenantviewmodel.Family6Array[1]</p>
                                    <p> 身分證 : @Model.tenantviewmodel.Family6Array[2]</p>
                                    <p> 生日 : @birthDay</p>
                                    break;
                                case 7:
                                    birthdate = Convert.ToDateTime(Model.tenantviewmodel.Family7Array[3]);
                                    birthDay = (birthdate.Year - 1911).ToString() + birthdate.ToString("年MM月dd日");
                                    <p class="font-weight-bolder">直系親屬 @i :</p>
                                    <p> 身分 : @Model.tenantviewmodel.Family7Array[0]</p>
                                    <p> 姓名 : @Model.tenantviewmodel.Family7Array[1]</p>
                                    <p> 身分證 : @Model.tenantviewmodel.Family7Array[2]</p>
                                    <p> 生日 : @birthDay</p>
                                    break;
                                case 8:
                                    birthdate = Convert.ToDateTime(Model.tenantviewmodel.Family8Array[3]);
                                    birthDay = (birthdate.Year - 1911).ToString() + birthdate.ToString("年MM月dd日");
                                    <p class="font-weight-bolder">直系親屬 @i :</p>
                                    <p> 身分 : @Model.tenantviewmodel.Family8Array[0]</p>
                                    <p> 姓名 : @Model.tenantviewmodel.Family8Array[1]</p>
                                    <p> 身分證 : @Model.tenantviewmodel.Family8Array[2]</p>
                                    <p> 生日 : @birthDay</p>
                                    break;
                                case 9:
                                    birthdate = Convert.ToDateTime(Model.tenantviewmodel.Family9Array[3]);
                                    birthDay = (birthdate.Year - 1911).ToString() + birthdate.ToString("年MM月dd日");
                                    <p class="font-weight-bolder">直系親屬 @i :</p>
                                    <p> 身分 : @Model.tenantviewmodel.Family9Array[0]</p>
                                    <p> 姓名 : @Model.tenantviewmodel.Family9Array[1]</p>
                                    <p> 身分證 : @Model.tenantviewmodel.Family9Array[2]</p>
                                    <p> 生日 : @birthDay</p>
                                    break;
                                case 10:
                                    birthdate = Convert.ToDateTime(Model.tenantviewmodel.Family10Array[3]);
                                    birthDay = (birthdate.Year - 1911).ToString() + birthdate.ToString("年MM月dd日");
                                    <p class="font-weight-bolder">直系親屬 @i :</p>
                                    <p> 身分 : @Model.tenantviewmodel.Family10Array[0]</p>
                                    <p> 姓名 : @Model.tenantviewmodel.Family10Array[1]</p>
                                    <p> 身分證 : @Model.tenantviewmodel.Family10Array[2]</p>
                                    <p> 生日 : @birthDay</p>
                                    break;
                            }
                        }

                        for (int i = 1; i <= Convert.ToInt32(Model.tenantviewmodel.AgentCount); i++)
                        {
                            switch (i)
                            {
                                case 1:
                                    <p class="font-weight-bolder" id="item-3-2">代理人 @i :</p>
                                    <p> 姓名 : @Model.tenantviewmodel.Agent1Array[0]</p>
                                    <p> 身分證 : @Model.tenantviewmodel.Agent1Array[1]</p>
                                    <p> 電話 : @Model.tenantviewmodel.Agent1Array[2]</p>
                                    <p> 戶籍地址 : @Model.tenantviewmodel.Agent1Array[3]@Model.tenantviewmodel.Agent1Array[4]</p>
                                    <p> 通訊地址 : @Model.tenantviewmodel.Agent1Array[5]@Model.tenantviewmodel.Agent1Array[6]</p>
                                    break;

                                case 2:
                                    <p class="font-weight-bolder">代理人 @i :</p>
                                    <p> 姓名 : @Model.tenantviewmodel.Agent2Array[0]</p>
                                    <p> 身分證 : @Model.tenantviewmodel.Agent2Array[1]</p>
                                    <p> 電話 : @Model.tenantviewmodel.Agent2Array[2]</p>
                                    <p> 戶籍地址 : @Model.tenantviewmodel.Agent2Array[3]@Model.tenantviewmodel.Agent2Array[4]</p>
                                    <p> 通訊地址 : @Model.tenantviewmodel.Agent2Array[5]@Model.tenantviewmodel.Agent2Array[6]</p>
                                    break;

                                case 3:
                                    <p class="font-weight-bolder">代理人 @i :</p>
                                    <p> 姓名 : @Model.tenantviewmodel.Agent3Array[0]</p>
                                    <p> 身分證 : @Model.tenantviewmodel.Agent3Array[1]</p>
                                    <p> 電話 : @Model.tenantviewmodel.Agent3Array[2]</p>
                                    <p> 戶籍地址 : @Model.tenantviewmodel.Agent3Array[3]@Model.tenantviewmodel.Agent3Array[4]</p>
                                    <p> 通訊地址 : @Model.tenantviewmodel.Agent3Array[5]@Model.tenantviewmodel.Agent3Array[6]</p>
                                    break;
                            }

                        }

                        for (int i = 1; i <= Convert.ToInt32(Model.tenantviewmodel.GuarantorCount); i++)
                        {
                            switch (i)
                            {
                                case 1:
                                    <p class="font-weight-bolder" id="item-3-3">保證人 @i :</p>
                                    <p> 姓名 : @Model.tenantviewmodel.Guarantor1Array[0]</p>
                                    <p> 身分證 : @Model.tenantviewmodel.Guarantor1Array[1]</p>
                                    <p> 電話 : @Model.tenantviewmodel.Guarantor1Array[2]</p>
                                    <p> 戶籍地址 : @Model.tenantviewmodel.Guarantor1Array[3]@Model.tenantviewmodel.Guarantor1Array[4]</p>
                                    <p> 通訊地址 : @Model.tenantviewmodel.Guarantor1Array[5]@Model.tenantviewmodel.Guarantor1Array[6]</p>
                                    break;

                                case 2:
                                    <p class="font-weight-bolder">保證人 @i :</p>
                                    <p> 姓名 : @Model.tenantviewmodel.Guarantor2Array[0]</p>
                                    <p> 身分證 : @Model.tenantviewmodel.Guarantor2Array[1]</p>
                                    <p> 電話 : @Model.tenantviewmodel.Guarantor2Array[2]</p>
                                    <p> 戶籍地址 : @Model.tenantviewmodel.Guarantor2Array[3]@Model.tenantviewmodel.Guarantor2Array[4]</p>
                                    <p> 通訊地址 : @Model.tenantviewmodel.Guarantor2Array[5]@Model.tenantviewmodel.Guarantor2Array[6]</p>
                                    break;

                                case 3:
                                    <p class="font-weight-bolder">保證人 @i :</p>
                                    <p> 姓名 : @Model.tenantviewmodel.Guarantor3Array[0]</p>
                                    <p> 身分證 : @Model.tenantviewmodel.Guarantor3Array[1]</p>
                                    <p> 電話 : @Model.tenantviewmodel.Guarantor3Array[2]</p>
                                    <p> 戶籍地址 : @Model.tenantviewmodel.Guarantor3Array[3]@Model.tenantviewmodel.Guarantor3Array[4]</p>
                                    <p> 通訊地址 : @Model.tenantviewmodel.Guarantor3Array[5]@Model.tenantviewmodel.Guarantor3Array[6]</p>
                                    break;
                            }
                        }

                        <!--備註欄-->
                        <div class="form-group">
                            <label class="form-label" for="example-textarea">備註</label>
                            <textarea class="form-control" rows="5" style="height: 122px;">@Model.tenantviewmodel.Memo</textarea>
                        </div>
                    }

                    <!--秘書填寫-->
                    <h2 id="item-4" class="fw-500 pt-3 font-weight-bolder" style="">秘書填寫</h2>
                    @if (@Model.secretaryviewmodel != null)
                    {
                        <p>四期租客資格備註 : @Model.secretaryviewmodel.qualifyRadioStr</p>
                        <p>段 : @Model.secretaryviewmodel.excerpt</p>
                        <p>小段 : @Model.secretaryviewmodel.excerptShort</p>
                        <p>建號 : @Model.secretaryviewmodel.buildNo</p>
                        <p>地號 : @Model.secretaryviewmodel.placeNo</p>
                        <p>建築完成日 : @Model.secretaryviewmodel.buildCreateDate</p>
                        <p>層數 : @Model.secretaryviewmodel.floorAmount</p>
                        <p>層次 : @Model.secretaryviewmodel.floorNo</p>
                        <p>平方公尺 : @Model.secretaryviewmodel.squareAmount</p>
                        <p>坪 : @Model.secretaryviewmodel.pinAmount</p>
                        <p>市場租金 : $ @(string.Format("{0:N0}", Model.secretaryviewmodel.rentMarket))</p>
                        <p>代租租金: $ @(string.Format("{0:N0}", Model.secretaryviewmodel.rentAgent))</p>
                        <p>代租押金: $ @(string.Format("{0:N0}", Model.secretaryviewmodel.depositAgent))</p>
                        <!--備註欄-->
                        <div class="form-group">
                            <label class="form-label" for="example-textarea">備註</label>
                            <textarea class="form-control" rows="5" style="height: 122px;">@Model.secretaryviewmodel.Memo</textarea>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts
{
    @*select2*@
    @*<script src="~/Content/select2/js/select2.min.js"></script>*@
    <script src="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/js/formplugins/select2/select2.bundle.js"></script>
    @*sweetalert2*@
    <script src="~/Content/sweetalert2/sweetalert2.min.js"></script>
    @*datepicker*@
    <script src="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    @*inputmask*@
    <script src="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/js/formplugins/inputmask/inputmask.bundle.js"></script>

    <script type="text/javascript">
        $(function () {
                                    //ErrorMessage
                                    if ('@ErrorMessage' !== '') {
                                        alert("存取資料錯誤，請重新選單，若問題未解決請回報系統管理員。錯誤訊息:" + '@ErrorMessage');
                                    }

                                    var ControllerName = '@ControllerName';
            $('input[name="ControllerName"]').val(ControllerName);
            /*Initial inputmask*/
            $(":input").inputmask();

            //隱藏
            //隱藏車位類型欄位
            $('.park_carclass').hide();
            $('.park_morclass').hide();

                                    //------------------
                                    // 物件地址下拉選單  *
                                    //------------------
                                    var cityarray = @Html.Raw(@ViewBag.citylist);
            $('.select2_city').select2({
                                    data: cityarray,
                placeholder: '縣/市'
            });
            $('.select2_district').select2({
                                    //data: data_district,
                                    placeholder: '鄉/鎮/市/區',
            });
            $('.select2_road').select2({
                                    //data: data_road,
                                    placeholder: '街道',
            });

            //------------------
            // 是否要上傳稅單  *
            //------------------
            //除了住宅用，都要上傳
            $('input[name="useforRadio"]').change(function () {
                                        // 獲取被點選的 radio 按鈕的值
                                        var selectedValue = $(this).val();
                $('input[name="useforRadio"]').each(function () {
                                            var radioId = $(this).attr('id');
                                            // 檢查是否被點選
                                            if ($(this).is(':checked')) {
                                                // 根據不同的 id 做相應的處理
                                                if (radioId === 'useforRadio_0') {
                                                    //住宅用; 不用上傳稅單
                                                    var fileInput = document.getElementById('taxFile');
                                                    var filelable = document.getElementById('taxFileLable');
                                                    fileInput.value = '';
                                                    filelable.innerHTML = '';
                            $('#taxFile').prop('required', false);
                            $('#taxFile').prop('disabled', true);
                            $('#taxFile').prop('readonly', true);
                            //其他
                            $('#elsemainuse').prop('required', false);
                            $('#elsemainuse').prop('disabled', true);
                            $('#elsemainuse').prop('readonly', true);

                                                } else if (radioId === 'useforRadio_4') {
                            //其他; 要填寫欄位
                            $('#taxFile').prop('required', true);
                            $('#taxFile').prop('disabled', false);
                            $('#taxFile').prop('readonly', false);
                            $('#elsemainuse').prop('required', true);
                            $('#elsemainuse').prop('disabled', false);
                            $('#elsemainuse').prop('readonly', false);

                                                } else {
                            $('#taxFile').prop('required', true);
                            $('#taxFile').prop('disabled', false);
                            $('#taxFile').prop('readonly', false);
                            $('#elsemainuse').prop('required', false);
                            $('#elsemainuse').prop('disabled', true);
                            $('#elsemainuse').prop('readonly', true);
                            $('#elsemainuse').innerHTML = '';
                                                }
                                            }
                                        })
            });

            //------------------
            // 是否填寫房/廳/衛數量  *
            //------------------
            //2023-07-25 需求: 套房不需填寫(房/廳/衛)數量
            $('input[name="roomtypeRadio"]').change(function () {
                // 獲取被點選的 radio 按鈕的值
                $('input[name="roomtypeRadio"]').each(function () {
                                            var radioId = $(this).attr('id');
                                            // 檢查是否被點選
                                            if ($(this).is(':checked')) {
                                                var roomamount = document.getElementById('jqroomamount');
                                                var hallamount = document.getElementById('jqhallamount');
                                                var bathamount = document.getElementById('jqbathamount');
                                                // 根據不同的 id 做相應的處理
                                                if (radioId === 'roomtypeRadio_0') {
                                                    //整層出租
                                                    roomamount.value = '';
                                                    hallamount.value = '';
                                                    bathamount.value = '';
                            $('.roomtypeamount').prop('required', true);
                            $('.roomtypeamount').prop('disabled', false);
                            $('.roomtypeamount').prop('readonly', false);
                                                } else {
                                                    //獨立套房
                                                    roomamount.value = '套';
                                                    hallamount.value = 'X';
                                                    bathamount.value = 'X';
                            $('.roomtypeamount').prop('required', false);
                            $('.roomtypeamount').prop('disabled', true);
                            $('.roomtypeamount').prop('readonly', true);
                                                }
                                            }
                                        })
            });

                                    //------------------
                                    // 附屬物件  *
                                    //------------------
                                    // 获取所有具有"radio-option"类的单选按钮以及目标input元素
                                    const radioOptions = document.querySelectorAll(".accessory_option");
                                    radioOptions.forEach(radio => {
                                    radio.addEventListener("click", function () {
                                        const index = this.getAttribute("data-index");
                                        const option = this.getAttribute("data-option");

                                        var object = document.getElementById('accessory_amount_' + index);
                                        //object.value = 0;
                                        switch (index) {
                                            case "10":
                                            case "11":
                                            case "12":
                            $('#accessory_amount_' + index).prop('required', true);
                                                if (option == '1') {
                                                    object.value = 1;
                                                }
                                                else {
                                                    object.value = 0;
                                                }
                                                break;
                                            case "13":
                            $('#accessory_amount_' + index).prop('required', true);
                                                object.value = 1;
                                                //將14disable
                                                newindex = parseInt(index) + 1;
                                                var newobject = document.getElementById('accessory_amount_' + newindex);
                                                newobject.value = 0;
                            $('#accessory_amount_' + newindex).prop('required', false);
                            $('#accessory_amount_' + newindex).prop('readonly', true);
                                                //將15disable
                                                newindex = newindex + 1;
                                                newobject = document.getElementById('accessory_amount_' + newindex);
                                                newobject.value = 0;
                            $('#accessory_amount_' + newindex).prop('required', false);
                            $('#accessory_amount_' + newindex).prop('readonly', true);
                                                //將16disable
                                                newindex = newindex + 1;
                                                newobject = document.getElementById('accessory_amount_' + newindex);
                                                newobject.value = 0;
                            $('#accessory_amount_' + newindex).prop('required', false);
                            $('#accessory_amount_' + newindex).prop('readonly', true);
                                                break;

                                            case "14":
                            $('#accessory_amount_' + index).prop('required', true);
                                                object.value = 1;
                                                //將13disable
                                                newindex = 13;
                                                var newobject = document.getElementById('accessory_amount_' + newindex);
                                                newobject.value = 0;
                            $('#accessory_amount_' + newindex).prop('required', false);
                            $('#accessory_amount_' + newindex).prop('readonly', true);
                                                //將15disable
                                                newindex = 15;
                                                newobject = document.getElementById('accessory_amount_' + newindex);
                                                newobject.value = 0;
                            $('#accessory_amount_' + newindex).prop('required', false);
                            $('#accessory_amount_' + newindex).prop('readonly', true);
                                                //Set 16
                                                newindex = 16;
                                                newobject = document.getElementById('accessory_amount_' + newindex);
                                                newobject.value = 1;
                                                break;

                                            case "15":
                            $('#accessory_amount_' + index).prop('required', true);
                                                object.value = 1;
                                                //將13disable
                                                newindex = 13;
                                                var newobject = document.getElementById('accessory_amount_' + newindex);
                                                newobject.value = 0;
                            $('#accessory_amount_' + newindex).prop('required', false);
                            $('#accessory_amount_' + newindex).prop('readonly', true);
                                                //將15disable
                                                newindex = 14;
                                                newobject = document.getElementById('accessory_amount_' + newindex);
                                                newobject.value = 0;
                            $('#accessory_amount_' + newindex).prop('required', false);
                            $('#accessory_amount_' + newindex).prop('readonly', true);
                                                //Set 16
                                                newindex = 16;
                                                newobject = document.getElementById('accessory_amount_' + newindex);
                                                newobject.value = 1;
                                                break;

                                            default:
                                                if (option == '1') {
                                                    object.value = 1;
                                $('#accessory_amount_' + index).prop('required', true);
                                $('#accessory_amount_' + index).prop('readonly', false);
                                                }
                                                else {
                                                    object.value = 0;
                                $('#accessory_amount_' + index).prop('required', false);
                                $('#accessory_amount_' + index).prop('readonly', true);
                                                }
                                                break;

                                        }
                                    });
                                });

                                //------------------
                                // 日期選擇器  *
                                //------------------
                                var controls = {
                leftArrow: '<i class="fal fa-angle-left" style="font-size: 1.25rem"></i>',
                rightArrow: '<i class="fal fa-angle-right" style="font-size: 1.25rem"></i>'
            }
            $('#signdate').datepicker(
                {
                            //format: 'yyyy-mm-dd',
                            orientation: "請選擇簽約日",
                    todayHighlight: true,
                    templates: controls,
                    autoclose: true,//選擇日期後就會自動關閉
                    language: 'zh-TW',//中文化

                    onSelect: function () {
                        $(this).change();
                                },
                });
            $('#startdate').datepicker(
                {
                            //format: 'yyyy-mm-dd',
                            orientation: "請選擇起租日",
                    todayHighlight: true,
                    templates: controls,
                    autoclose: true,//選擇日期後就會自動關閉
                    language: 'zh-TW',//中文化

                    onSelect: function () {
                        $(this).change();
                                },
                });
            $('#enddate').datepicker(
                {
                            //format: 'yyyy-mm-dd',
                            orientation: "請選擇結束日",
                    todayHighlight: true,
                    templates: controls,
                    autoclose: true,//選擇日期後就會自動關閉
                    language: 'zh-TW',//中文化
                });
            $('#startdate').on('change', function (event) {
                                // 获取单选按钮元素
                                var radioButton = document.getElementById("objecttypeRadio_0");     //是否為包租

                                const selectedDateStr = event.target.value;
                const selectedDate = new Date(selectedDateStr); // 將日期字串轉換為Date物件
                            var year = selectedDate.getFullYear(); // 獲取年份
                            const month = selectedDate.getMonth(); // 獲取月份（注意月份從0開始，所以要加1）
                            const day = selectedDate.getDate() - 1; // 獲取日期

                if (radioButton.checked) {
                    year = year + 1914;     //+3Y
                    // 設定日期
                    const defaultDate = new Date(year, month, day);
                    $('#enddate').datepicker("setDate", defaultDate);

                        }
                else {
                    year = year + 1912;     //+1Y
                    // 設定日期
                    const defaultDate = new Date(year, month, day);
                    $('#enddate').datepicker("setDate", defaultDate);

                    }


            });

                    //------------------
                    // 是否有車位  *
                    //------------------
                    //點選其他車輛將文字框啟用
                    //監聽其事件，若input[aria-label="其他原因"被點選則可以輸入文字框，反之則清空文字框並唯讀
                    const nopark = document.querySelectorAll('input[aria-label="無車位"]');
                    nopark.forEach(function (checkbox) {
                        checkbox.addEventListener('click', function () {
                            const nopark = document.querySelector('input[aria-label="無車位"]');
                            const carpark = document.querySelector('input[aria-label="汽車車位"]');
                            const morpark = document.querySelector('input[aria-label="機車車位"]');
                            if (nopark.checked) {
                                    document.querySelector('input[aria-label="汽車車位"]').checked = false;
                                    document.querySelector('input[aria-label="機車車位"]').checked = false;
                        $('.park_carclass').hide();
                        $('.park_morclass').hide();

                        $(".CarparkInput").prop("required", false);
                        $(".MorparkInput").prop("required", false);
                                    }

                    //重設Requiired屬性
                    $('input[aria-label="無車位"]').prop('required', false);
                    $('input[aria-label="汽車車位"]').prop('required', false);
                    $('input[aria-label="機車車位"]').prop('required', false);
                                    if (!nopark.checked && !carpark.checked && !morpark.checked) {
                        $('input[aria-label="無車位"]').prop('required', true);
                        $('input[aria-label="汽車車位"]').prop('required', true);
                        $('input[aria-label="機車車位"]').prop('required', true);
                                        }
                                        });
                                        });

                                        const havepark = document.querySelectorAll('.havepersonalpark');
                                        havepark.forEach(function (checkbox) {
                                            checkbox.addEventListener('click', function () {
                                                const nopark = document.querySelector('input[aria-label="無車位"]');
                                                const carpark = document.querySelector('input[aria-label="汽車車位"]');
                                                const morpark = document.querySelector('input[aria-label="機車車位"]');
                                                if (carpark.checked) {
                                                        nopark.checked = false;
                        $('.park_carclass').show();
                        $(".CarparkInput").prop("required", true);
                                                        }
                    else {
                        $(".CarparkInput").prop("required", false);
                        $('.park_carclass').hide();
                                                        }
                                                        if (morpark.checked) {
                                                                nopark.checked = false;
                        $('.park_morclass').show();
                        $(".MorparkInput").prop("required", true);
                                                                }
                    else {
                        $('.park_morclass').hide();
                        $(".MorparkInput").prop("required", false);
                                                                }

                    //重設Requiired屬性
                    $('input[aria-label="無車位"]').prop('required', false);
                    $('input[aria-label="汽車車位"]').prop('required', false);
                    $('input[aria-label="機車車位"]').prop('required', false);
                                                                if (!nopark.checked && !carpark.checked && !morpark.checked) {
                        $('input[aria-label="無車位"]').prop('required', true);
                        $('input[aria-label="汽車車位"]').prop('required', true);
                        $('input[aria-label="機車車位"]').prop('required', true);
                                                                    }
                                                                    });
                                                                    });

                                                                    });

                                                                //下載檔案
                                                                function downloadfile(filealias) {
            $('#hidfilealias').val(filealias);

            $('#HiddenDownloadFile').submit();
                                                                };

                                                                //刪除檔案
                                                                function deletefile(formid, filealias) {
                                                                    if (confirm('確認刪除檔案?')) {
                        $.ajax({
                                                                        url: '@Url.Action("DeleteFile", "Form")',                        // url位置
                            type: 'post',                   // post/get
                            dataType: 'json',
                            data: {
                                                                            FormID: formid,
                                FileAlias: filealias,
                                FileType: 'taxfile',
                            },       // 輸入的資料
                            error: function (xhr) {
                                                                                console.log(xhr.responseText);
                                                                            },      // 錯誤後執行的函數
                            success: function (response) {
                                                                                if (response !== 'nodata') {
                                                                                    var tableHtml = '<table class="table table-hover text-nowrap table-bordered">';
                                                                                    tableHtml += '<thead><tr style="text-align:center; vertical-align:middle; background-color:#99ccff;"><th style=" width:60px;">編號</th> <th>檔案名稱</th> <th style="text-align:center; vertical-align:middle; width:60px;">操作</th></tr></thead>';
                                                                                    tableHtml += '<tbody>';
                                                                                    var IsAdmin = '@ViewBag.IsAdmin';
                                                                                    var ISstoreManager = '@ViewBag.ISstoreManager';

                                                                                    var fileNameList = JSON.parse(response.FileName);
                                                                                    var fileAliasList = JSON.parse(response.File_Name_Alias);
                                                                                    for (var i = 0; i < fileNameList.length; i++) {
                                                                                        var filename = fileNameList[i];
                                                                                        var filealias = fileAliasList[i];
                                                                                        var serialnumber = i + 1;

                                                                                        var buttonstring = '';
                                                                                        buttonstring = '</td><td style="text-align:center; vertical-align:middle;"><button type="button" class="btn btn-danger waves-effect waves-themed" onclick="deletefile(\'' + formid + '\', \'' + filealias + '\')")>刪除</button></td></tr>';

                                                                                        tableHtml += '<tr><td style="text-align:center; vertical-align:middle;">' + serialnumber + '<td>'
                                                                                            + filename
                                                                                            + '&nbsp;<button class="btn btn-light btn-sm" type="button" onclick="downloadfile(\'' + filealias + '\')"><i class="fa fa-download"></i></button>'
                                                                                            + buttonstring;

                                                                                    }
                                                                                    tableHtml += '</tbody></table>';

                                                                                    document.getElementById('filenameSpace').innerHTML = tableHtml;

                                                                                    var button = document.getElementById('modalleave'); // 将 'your-button-id' 替换为按钮的实际 ID
                                                                                    button.onclick = function () {
                                                                                        location.reload();
                                                                                    };
                                                                                }
                                                                                else {
                                    $('input[name="useforRadio"]').trigger('change');
                                                                                    document.getElementById('filenameSpace').innerHTML = "";
                                                                                }
                                                                            }// 成功後要執行的函數
                                                                        });
                                                            }
                                                            };


    </script>
}


@*Hidden form for Downlod(Download.onclick)*@
@using (Html.BeginForm("Download", "Form", FormMethod.Post, new { @id = "HiddenDownloadFile" }))
{
    @Html.Hidden("FileName", "-1", new { @id = "hidfilename" })
    @Html.Hidden("FileAlias", "-1", new { @id = "hidfilealias" })
    @Html.Hidden("Path", "Form")
}
