
@{
    ViewBag.Title = "表單四期";
    Layout = "~/Views/Shared/smartadmin_Layout.cshtml";
}
<style>
    .padding-top-ten {
        padding-top: 10px !important;
    }

    .panel .panel-toolbar {
        display: none;
    }

    .panel.panel-locked:not(.panel-fullscreen) .panel-hdr h2:before {
        display: none;
    }

    .form-label {
        font-weight: 600 !important;
    }


</style>
@*select2*@
@*<link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />*@
<link href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/css/formplugins/select2/select2.bundle.css" rel="stylesheet" />
@*datepicker*@
<link href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" />
@*sweetalert2*@
<link href="~/Content/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);">後臺管理系統</a>
        </li>
        <li class="breadcrumb-item">填寫表單</li>
        <li class="breadcrumb-item">四期</li>
        <li class="breadcrumb-item active">房客資料</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block">
            <span class="js-get-date"></span>
        </li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-edit"></i>
            <span class="font-weight-bold" style="padding-top:5px;">房客資料</span>
            <small>

            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel panel-locked">
                <div class="panel-hdr">
                    <h2>
                        房客資料
                    </h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        @using (Html.BeginForm("Tenant", "Form", FormMethod.Post, new { @class = "needs-validation", @enctype = "multipart/form-data", @novalidate = "" }))
                        {
                            @*租客身分*@
                            <div class="panel-tag">
                                一般戶
                            </div>
                            <div class="form-group">
                                <div class="frame-wrap padding-top-ten">
                                    <div class="custom-control custom-radio custom-radio-rounded">
                                        <input type="radio" class="custom-control-input" id="typeRadio_0" name="typeRadio" value="0" required>
                                        <label class="custom-control-label" for="typeRadio_0">
                                            設籍於該市居民、有居住事實、或有就學就業需求者。
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio custom-radio-rounded">
                                        <input type="radio" class="custom-control-input" id="typeRadio_1" name="typeRadio" value="1" required>
                                        <label class="custom-control-label" for="typeRadio_1">
                                            現任職務之最高職務列等在警正四階以下或相當職務列等之基層警察及消防人員。
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio custom-radio-rounded">
                                        <input type="radio" class="custom-control-input" id="typeRadio_2" name="typeRadio" value="2" required>
                                        <label class="custom-control-label" for="typeRadio_2">
                                            申請人或家庭成員為身心障礙者或65歲以上老人，申請換居並將自有住宅出租。
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-tag">
                                一類
                            </div>
                            <div class="frame-wrap padding-top-ten">
                                <div class="custom-control custom-radio custom-radio-rounded">
                                    <input type="radio" class="custom-control-input" id="typeRadio_3" name="typeRadio" value="3" required>
                                    <label class="custom-control-label" for="typeRadio_3">
                                        六十五歲以上之老人。(限申請人本人)
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-radio-rounded">
                                    <input type="radio" class="custom-control-input" id="typeRadio_4" name="typeRadio" value="4" required>
                                    <label class="custom-control-label" for="typeRadio_4">
                                        原住民。
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-radio-rounded">
                                    <input type="radio" class="custom-control-input" id="typeRadio_5" name="typeRadio" value="5" required>
                                    <label class="custom-control-label" for="typeRadio_5">
                                        育有未成年子女三人以上。(限申請人本人)
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-radio-rounded">
                                    <input type="radio" class="custom-control-input" id="typeRadio_6" name="typeRadio" value="6" required>
                                    <label class="custom-control-label" for="typeRadio_6">
                                        特殊境遇家庭。
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-radio-rounded">
                                    <input type="radio" class="custom-control-input" id="typeRadio_7" name="typeRadio" value="7" required>
                                    <label class="custom-control-label" for="typeRadio_7">
                                        於安置教養機構或寄養家庭結束安置無法返家，未滿二十五歲。(限申請人本人)
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-radio-rounded">
                                    <input type="radio" class="custom-control-input" id="typeRadio_8" name="typeRadio" value="8" required>
                                    <label class="custom-control-label" for="typeRadio_8">
                                        受家庭暴力或性侵害之受害者及其子女。
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-radio-rounded">
                                    <input type="radio" class="custom-control-input" id="typeRadio_9" name="typeRadio" value="9" required>
                                    <label class="custom-control-label" for="typeRadio_9">
                                        身心障礙者。
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-radio-rounded">
                                    <input type="radio" class="custom-control-input" id="typeRadio_10" name="typeRadio" value="10" required>
                                    <label class="custom-control-label" for="typeRadio_10">
                                        感染人類免疫缺乏病毒者或罹患後天免疫缺乏症候群者。
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-radio-rounded">
                                    <input type="radio" class="custom-control-input" id="typeRadio_11" name="typeRadio" value="11" required>
                                    <label class="custom-control-label" for="typeRadio_11">
                                        因懷孕或生育而遭遇困境之未成年人。(限申請人本人)
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-radio-rounded">
                                    <input type="radio" class="custom-control-input" id="typeRadio_12" name="typeRadio" value="12" required>
                                    <label class="custom-control-label" for="typeRadio_12">
                                        災民。
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-radio-rounded">
                                    <input type="radio" class="custom-control-input" id="typeRadio_13" name="typeRadio" value="13" required>
                                    <label class="custom-control-label" for="typeRadio_13">
                                        遊民。
                                    </label>
                                </div>
                            </div>
                            <div class="panel-tag">
                                二類
                            </div>
                            <div class="form-group">
                                <div class="frame-wrap padding-top-ten">
                                    <div class="custom-control custom-radio custom-radio-rounded">
                                        <input type="radio" class="custom-control-input" id="typeRadio_14" name="typeRadio" value="14" required>
                                        <label class="custom-control-label" for="typeRadio_14">
                                            低收入戶。
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio custom-radio-rounded">
                                        <input type="radio" class="custom-control-input" id="typeRadio_15" name="typeRadio" value="15" required>
                                        <label class="custom-control-label" for="typeRadio_15">
                                            中低收入戶。
                                        </label>
                                        <div class="invalid-feedback">
                                            請選擇身分
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*上傳弱勢戶佐證文件*@
                            <div class="form-group">
                                <label class="form-label">上傳弱勢戶佐證文件</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="vulnerablefile" name="vulnerablefile" multiple disabled>
                                    <label id="vulnerablefileLable" class="custom-file-label" for="vulnerablefile">選擇檔案</label>
                                    <div class="invalid-feedback">
                                        請上傳弱勢戶佐證文件
                                    </div>
                                </div>
                                <span class="help-block pl-2">*<code>&lt;上傳弱勢戶佐證文件&gt;</code></span>
                            </div>

                            @*上傳300E試算表的截圖*@
                            <div class="form-group">
                                <label class="form-label">上傳300億試算表截圖</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="sheetfile" name="sheetfile" multiple required>
                                    <label id="taxFileLable" class="custom-file-label" for="sheetfile">選擇檔案</label>
                                    <div class="invalid-feedback">
                                        請上傳試算表
                                    </div>
                                </div>
                                <span class="help-block pl-2">*<code>&lt;上傳300億試算表截圖&gt;</code></span>
                            </div>

                            @*房東姓名*@
                            <div class="form-group">
                                <label class="form-label" for="jqlandlordname">房客姓名</label>
                                <input type="text" id="jqlandlordname" name="name_landlord" class="form-control" required>
                                <div class="invalid-feedback">
                                    請輸入房客姓名
                                </div>
                            </div>
                            @*性別*@
                            <div class="form-group">
                                <label class="form-label">
                                    性別:
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="frame-wrap padding-top-ten">
                                    <div class="custom-control custom-radio custom-control-inline custom-radio-rounded">
                                        <input type="radio" class="custom-control-input" id="genderRadio_tenant_1" name="genderRadio_tenant" value="1" required>
                                        <label class="custom-control-label" for="genderRadio_tenant_1">男</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline custom-radio-rounded">
                                        <input type="radio" class="custom-control-input" id="genderRadio_tenant_0" name="genderRadio_tenant" value="0" required>
                                        <label class="custom-control-label" for="genderRadio_tenant_0">女</label>
                                        <div class="invalid-feedback">
                                            請選擇房東性別
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*出生年月日*@
                            <div class="form-group">
                                <label class="form-label" for="birthday">生日</label>
                                <span class="text-danger">*</span>
                                <div class="input-group">
                                    <input type="text" class="form-control birthday" placeholder="請選擇生日" name="birthday_tenant" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text fs-xl">
                                            <i class="fal fa-calendar-check"></i>
                                        </span>
                                    </div>
                                    <div class="invalid-feedback">
                                        請選擇生日
                                    </div>
                                </div>
                            </div>

                            @*身分證字號*@
                            <div class="form-group">
                                <label class="form-label" for="IDnumber">身分證字號</label>
                                <div class="row pb-2">
                                    <div class="col-12">
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input national_check" id="international_IDnumber" name="international_IDnumber" data-index="0">
                                            <label class="custom-control-label" for="international_IDnumber">外籍</label>
                                        </div>
                                    </div>
                                </div>
                                <input type="text" id="IDnumber" name="IDnumber_tenant" class="form-control national_IDnumber_0" required>
                                <div class="invalid-feedback">
                                    請輸入身分證字號
                                </div>
                            </div>
                            @*連絡電話*@
                            <div class="form-group">
                                <label class="form-label" for="phonenumber">連絡電話</label>
                                <input type="text" name="phonenumber_tenant" class="form-control" required>
                                <div class="invalid-feedback">
                                    請輸入連絡電話
                                </div>
                            </div>
                            @*戶籍地址*@
                            <div class="form-group">
                                <label class="form-label">戶籍地址</label>
                                <span class="text-danger">*</span>
                                <div class="row">
                                    <div class="col-lg-4 pt-3">
                                        <select class="custom-select form-control select2_city" data-index="0" required>
                                            <option value="" selected=""></option>
                                        </select>
                                        <div class="invalid-feedback">
                                            請選擇縣/市
                                        </div>
                                    </div>
                                    <div class="col-lg-4 pt-3">
                                        <select class="custom-select form-control select2_district" data-index="0" required>
                                            <option value="" selected=""></option>
                                        </select>
                                        <div class="invalid-feedback">
                                            請選擇鄉/鎮/市/區
                                        </div>
                                    </div>
                                    <div class="col-lg-4 pt-3">
                                        <select class="custom-select form-control select2_road" name="road_address_tenant" data-index="0" required>
                                            <option value="" selected=""></option>
                                        </select>
                                        <div class="invalid-feedback">
                                            請選擇街/路
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-2">
                                    <div class="col-12">
                                        <input type="text" name="elseaddress_tenant" class="form-control" placeholder="ex.108號1樓" required>
                                    </div>
                                </div>
                            </div>
                            @*戶號*@
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">戶號</span>
                                    </div>
                                    <input type="text" placeholder="" class="form-control" name="accountnumber" required>
                                    <div class="invalid-feedback">
                                        請填寫戶號
                                    </div>
                                </div>
                            </div>
                            @*通訊地址*@
                            <div class="form-group">
                                <div class="row pb-2">
                                    <div class="col-12">
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input sameaddress" id="sameaddress_tenant" name="sameaddress" data-index="1">
                                            <label class="custom-control-label" for="sameaddress_tenant">同戶籍地址</label>
                                        </div>
                                    </div>
                                </div>
                                <label class="form-label">通訊地址</label>
                                <span class="text-danger">*</span>
                                <div class="row">
                                    <div class="col-lg-4 pt-3">
                                        <select class="custom-select form-control select2_city select_contact_1" name="city_contact_tenant" data-index="1" required>
                                            <option value="" selected=""></option>
                                        </select>
                                        <div class="invalid-feedback">
                                            請選擇縣/市
                                        </div>
                                    </div>
                                    <div class="col-lg-4 pt-3">
                                        <select class="custom-select form-control select2_district select_contact_1" name="district_contact_tenant" data-index="1" required>
                                            <option value="" selected=""></option>
                                        </select>
                                        <div class="invalid-feedback">
                                            請選擇鄉/鎮/市/區
                                        </div>
                                    </div>
                                    <div class="col-lg-4 pt-3">
                                        <select class="custom-select form-control select2_road select_contact_1" name="road_contact_tenant" data-index="1" required>
                                            <option value="" selected=""></option>
                                        </select>
                                        <div class="invalid-feedback">
                                            請選擇街/路
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-2">
                                    <div class="col-12">
                                        <input type="text" name="elseaddress_contact" class="form-control select_contact_1" placeholder="ex.108號1樓" data-index="1" required>
                                    </div>
                                </div>
                            </div>

                            @*銀行*@
                            <div class="form-group">
                                <label class="form-label">銀行/銀行代碼</label>
                                <span class="text-danger">*</span>
                                <div class="row">
                                    <div class="col-lg-4 pt-3">
                                        <select class="custom-select form-control select2_bank" name="district_contact_tenant" data-index="1" required>
                                            <option value="" selected=""></option>
                                        </select>
                                        <div class="invalid-feedback">
                                            請選擇銀行/銀行代碼
                                        </div>
                                    </div>
                                    <div class="col-lg-4 pt-3">
                                        <select class="custom-select form-control select2_bankbranches" name="bankbranches" data-index="1" required>
                                            <option value="" selected=""></option>
                                        </select>
                                        <div class="invalid-feedback">
                                            請選擇分行/分行代碼
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="basic-url">帳號</label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">帳號</span>
                                            </div>
                                            <input type="text" placeholder="" class="form-control" name="banknumber" required>
                                            <div class="invalid-feedback">
                                                請填寫帳號
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            //配偶
                            <div class="panel-tag" style="padding-bottom:0px; margin-bottom:0px;">
                                <div class="row pl-3 pb-2">
                                    <label>配偶</label>
                                    <div class="custom-control custom-checkbox" style="margin-left:10px;">
                                        <input type="checkbox" class="custom-control-input couplecheck" id="couplecheck_1" name="couplecheck_1" value="1">
                                        <label class="custom-control-label" for="couplecheck_1"></label>
                                    </div>
                                    <label>丈夫</label>
                                    <div class="custom-control custom-checkbox" style="margin-left:10px;">
                                        <input type="checkbox" class="custom-control-input" id="couplecheck_0" name="couplecheck_0" value="0">
                                        <label class="custom-control-label" for="couplecheck_0"></label>
                                    </div>
                                    <label>妻子</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-10 col-lg-6 pt-3">
                                        <div class="input-group input-group-multi-transition w-100">
                                            <div class="input-group-append">
                                                <span class="input-group-text">姓名</span>
                                            </div>
                                            <input type="text" class="form-control couple_input" name="coupleName" disabled>
                                            <div class="input-group-append">
                                                <span class="input-group-text">身分證</span>
                                            </div>
                                            <input type="text" class="form-control couple_input" name="coupleNumber" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-lg-6 pt-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control birthday couple_input" id="couplebirth" name="couplebirth" placeholder="請選擇生日" disabled>
                                            <div class="input-group-append">
                                                <span class="input-group-text fs-xl">
                                                    <i class="fal fa-calendar-check"></i>
                                                </span>
                                            </div>
                                            <div class="invalid-feedback">
                                                請選擇生日
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*分戶戶號*@
                            <div class="form-group">
                                <div class="row d-flex align-items-end">
                                    <div class="col-md-4">
                                        <div class="custom-control custom-checkbox custom-control-inline mb-2">
                                            <input type="checkbox" class="custom-control-input couple_input" id="separatecheck" name="separatecheck" value="true" disabled>
                                            <label class="custom-control-label" for="separatecheck">是否分戶</label>
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">分戶戶號</span>
                                            </div>
                                            <input type="text" id="separatenumber" class="form-control" name="separatenumber" placeholder="" disabled>
                                            <div class="invalid-feedback">
                                                請填寫分戶戶號
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            //直系親屬
                            <div class="panel-tag">
                                直系親屬
                            </div>
                            @Html.Partial("_TenantDirectfamily", "Form")
                            <div class="row">
                                <button type="button" class="btn btn-dark waves-effect waves-themed ml-3 mb-2 shipbutton" data-order="0" onclick="changeship(this, 'delete')">刪除</button>
                                <button type="button" class="btn btn-dark waves-effect waves-themed ml-1 mb-2 shipbutton" data-order="0" onclick="changeship(this, 'create')">新增直系親屬</button>

                            </div>
                            //代理人
                            <div class="panel-tag">
                                代理人
                            </div>
                            @Html.Partial("_TenantAgent", "Form")
                            //代理人
                            <div class="panel-tag">
                                保證人
                            </div>
                            @Html.Partial("_TenantGuarantor", "Form")

                            <!--備註欄-->
                            <div class="form-group">
                                <label class="form-label" for="example-textarea">備註</label>
                                <textarea class="form-control" id="example-textarea" rows="5" style="height: 122px;"></textarea>
                            </div>
                            <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 d-flex flex-row align-items-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="invalidCheck" required="">
                                    <label class="custom-control-label" for="invalidCheck">確認填寫完成 <span class="text-danger">*</span></label>
                                    <div class="invalid-feedback">
                                        您必須選擇此區塊以確認完成填寫
                                    </div>
                                </div>
                                <button class="btn btn-primary ml-auto waves-effect waves-themed" type="submit">Submit form</button>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts
{
    @*select2*@
    @*<script src="~/Content/select2/js/select2.min.js"></script>*@
    <script src="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/js/formplugins/select2/select2.bundle.js"></script>
    @*sweetalert2*@
    <script src="~/Content/sweetalert2/sweetalert2.min.js"></script>
    @*datepicker*@
    <script src="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    @*inputmask*@
    @*<script src="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/js/formplugins/inputmask/inputmask.bundle.js"></script>*@

    <script type="text/javascript">
        //validation
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        $(function () {
            //inputmask
            //$(":input").inputmask();

            //將不需填寫的資料先隱藏
            //直系親屬
            $('.directformgroup[data-order="' + 1 + '"]').hide();
            $('.directformgroup[data-order="' + 2 + '"]').hide();
            $('.directformgroup[data-order="' + 3 + '"]').hide();
            $('.directformgroup[data-order="' + 4 + '"]').hide();
            $('.directformgroup[data-order="' + 5 + '"]').hide();
            $('.directformgroup[data-order="' + 6 + '"]').hide();
            $('.directformgroup[data-order="' + 7 + '"]').hide();
            $('.directformgroup[data-order="' + 8 + '"]').hide();
            $('.directformgroup[data-order="' + 9 + '"]').hide();
            $('.directformgroup[data-order="' + 10 + '"]').hide();
            //代理人
            $('.getag1').hide();
            $('.getag2').hide();
            $('.getag3').hide();
            //保證人
            $('.getgu1').hide();
            $('.getgu2').hide();
            $('.getgu3').hide();
            //------------------
            // 物件地址下拉選單  *
            //------------------
            var jsonCity = @Html.Raw(Json.Encode(ViewBag.citylist));
            var jsonAddressArray = JSON.parse(jsonCity);

            for (var i = 0; i < jsonAddressArray.length; i++) {
                jsonAddressArray[i].id = jsonAddressArray[i].id.replace(/\"/g, '');
                jsonAddressArray[i].text = jsonAddressArray[i].text.replace(/\"/g, '');
            }

            var data_city = jsonAddressArray;
            $('.select2_city').select2({
                data: data_city,
                placeholder: '縣/市'
            });
            $('.select2_district').select2({
                //data: data_district,
                placeholder: '鄉/鎮/市/區',
            });
            $('.select2_road').select2({
                //data: data_road,
                placeholder: '街道',
            });
            //------------------
            // 銀行下拉選單  *
            //------------------
            var jsonBank = @Html.Raw(Json.Encode(ViewBag.banklist));
            var jsonBankArray = JSON.parse(jsonBank);
            
            //for (var i = 0; i < jsonBankArray.length; i++) {
            //    jsonBankArray[i].id = jsonBankArray[i].id.replace(/\"/g, '');
            //    jsonBankArray[i].text = jsonBankArray[i].text.replace(/\"/g, '');
            //}
            var data_bank = jsonBankArray;
            $(".select2_bank").select2({
                data: data_bank,
                placeholder: '銀行'
            })
            $(".select2_bankbranches").select2({
                placeholder: '分行'
            })

            //下拉選單更改事件
            //當下拉選單發生改變事件(change)，執行
            $('body').on('change', '.select2_city', function () {
                var selectedIndex = $(this).attr('data-index');

                $('.select2_road[data-index="' + selectedIndex + '"]').empty();
                $('.select2_road[data-index="' + selectedIndex + '"]').select2({
                    placeholder: '街道',
                });
                var regioncode = $('.select2_city[data-index="' + selectedIndex + '"]').val();
                $.ajax({
                    type: "POST",
                    data: { regioncode: regioncode },
                    url: '@Url.Content("~/Form/DDLRegion/")',
                    dataType: 'json'
                }).done(function (dataresult) {
                    var jsonAddressArray = JSON.parse(dataresult);
                        for (var i = 0; i < jsonAddressArray.length; i++) {
                            jsonAddressArray[i].id = jsonAddressArray[i].id.replace(/\"/g, '');
                            jsonAddressArray[i].text = jsonAddressArray[i].text.replace(/\"/g, '');
                        }
                    var data_district = jsonAddressArray;
                    $('.select2_district[data-index="' + selectedIndex + '"]').empty();
                    var init_data = [
                        {
                            id: '',
                            text: '鄉/鎮/市/區'
                        },
                    ];
                    $('.select2_district[data-index="' + selectedIndex + '"]').select2({
                        data: init_data,
                    });
                    $('.select2_district[data-index="' + selectedIndex + '"]').select2({
                        data: data_district,
                        placeholder: {
                            id: '',
                            text: '鄉/鎮/市/區'
                        }
                    });
                });
            });
            $('body').on('change', '.select2_district', function () {
                var selectedIndex = $(this).attr('data-index');

                var regioncode = $('.select2_district[data-index="' + selectedIndex + '"]').val();
                $.ajax({
                    type: "POST",
                    data: { regioncode: regioncode },
                    url: '@Url.Content("~/Form/DDLRegion/")',
                    dataType: 'json'
                }).done(function (dataresult) {
                    var jsonAddressArray = JSON.parse(dataresult);
                        for (var i = 0; i < jsonAddressArray.length; i++) {
                            jsonAddressArray[i].id = jsonAddressArray[i].id.replace(/\"/g, '');
                            jsonAddressArray[i].text = jsonAddressArray[i].text.replace(/\"/g, '');
                        }
                    var data_road = jsonAddressArray;
                    $('.select2_road[data-index="' + selectedIndex + '"]').empty();
                    var init_data = [
                        {
                            id: '',
                            text: '街道'
                        },
                    ];
                    $('.select2_road[data-index="' + selectedIndex + '"]').select2({
                        data: init_data,
                    });
                    $('.select2_road[data-index="' + selectedIndex + '"]').select2({
                        data: data_road,
                        placeholder: {
                            id: '',
                            text: '街道'
                        }
                    });
                });
            });
            //銀行下拉選單
            $('body').on('change', '.select2_bank', function () {
                var selectedIndex = $(this).attr('data-index');
                var bankcode = $('.select2_bank[data-index="' + selectedIndex + '"]').val();
                $.ajax({
                    type: "POST",
                    data: { bankcode: bankcode },
                    url: '@Url.Content("~/Form/DDLBank/")',
                    dataType: 'json'
                }).done(function (dataresult) {
                    var jsonBankBranchArray = JSON.parse(dataresult);
                    for (var i = 0; i < jsonBankBranchArray.length; i++) {
                            jsonBankBranchArray[i].id = jsonBankBranchArray[i].id.replace(/\"/g, '');
                            jsonBankBranchArray[i].text = jsonBankBranchArray[i].text.replace(/\"/g, '');
                        }
                    var data_bankbranch = jsonBankBranchArray;
                    $('.select2_bankbranches[data-index="' + selectedIndex + '"]').empty();
                    var init_data = [
                        {
                            id: '',
                            text: '分行'
                        },
                    ];
                    $('.select2_bankbranches[data-index="' + selectedIndex + '"]').select2({
                        data: init_data,
                    });
                    $('.select2_bankbranches[data-index="' + selectedIndex + '"]').select2({
                        data: data_bankbranch,
                        placeholder: '分行'
                    });
                });
            });
            //直系親屬下拉選單(嬰幼兒不需填身分證)
            $('body').on('change', '.select_direct', function () {
                var selectedIndex = $(this).attr('data-order');
                //選擇親屬關係之代號
                var directcode = $('.select_direct[data-order="' + selectedIndex + '"]').val();
                if (directcode == "17") {
                    $('.direct_IDnumber[data-order="' + selectedIndex + '"]').prop('disabled', true);
                }
                else {
                    $('.direct_IDnumber[data-order="' + selectedIndex + '"]').prop('disabled', false);
                }
            });

            //radio監聽事件
            //主要用途 : Inline1Radio3
            $('input[name="Inline1Radio3"]').change(function () {
                // 獲取被點選的 radio 按鈕的值
                var selectedValue = $(this).val();
                $('input[name="Inline1Radio3"]').each(function () {
                    var radioId = $(this).attr('id');
                    // 檢查是否被點選
                    if ($(this).is(':checked')) {
                        // 根據不同的 id 做相應的處理
                        if (radioId === 'Inline1Radio3_1') {
                            //住宅用; 不用上傳稅單
                            var fileInput = document.getElementById('taxFile');
                            var filelable = document.getElementById('taxFileLable');
                            fileInput.value = '';
                            filelable.innerHTML = '';
                            $('#taxFile').prop('required', false);
                            $('#taxFile').prop('disabled', true);
                            $('#taxFile').prop('readonly', true);
                            //其他
                            $('#elsemainuse').prop('required', false);
                            $('#elsemainuse').prop('disabled', true);
                            $('#elsemainuse').prop('readonly', true);

                        } else if (radioId === 'Inline1Radio3_5') {
                            //其他; 要填寫欄位
                            $('#taxFile').prop('required', true);
                            $('#taxFile').prop('disabled', false);
                            $('#taxFile').prop('readonly', false);
                            $('#elsemainuse').prop('required', true);
                            $('#elsemainuse').prop('disabled', false);
                            $('#elsemainuse').prop('readonly', false);
                        } else {
                            $('#taxFile').prop('required', true);
                            $('#taxFile').prop('disabled', false);
                            $('#taxFile').prop('readonly', false);
                            $('#elsemainuse').prop('required', false);
                            $('#elsemainuse').prop('disabled', true);
                            $('#elsemainuse').prop('readonly', true);
                            $('#elsemainuse').innerHTML = '';
                        }
                    }
                })
            });
            $('input[name="Inline1Radio5"]').change(function () {
                // 獲取被點選的 radio 按鈕的值
                var selectedValue = $(this).val();
                $('input[name="Inline1Radio5"]').each(function () {
                    var radioId = $(this).attr('id');
                    // 檢查是否被點選
                    if ($(this).is(':checked')) {
                        var housenumber = document.getElementById('jqhousenumber');
                        // 根據不同的 id 做相應的處理
                        if (radioId === 'Inline1Radio5_1') {
                            //整層出租
                            housenumber.value = '';
                            $('#jqhousenumber').prop('required', true);
                            $('#jqhousenumber').prop('disabled', false);
                            $('#jqhousenumber').prop('readonly', false);
                        } else {
                            //獨立套房
                            housenumber.value = '套';
                            housenumber.innerHTML = '套'
                            $('#jqhousenumber').prop('required', false);
                            $('#jqhousenumber').prop('disabled', true);
                            $('#jqhousenumber').prop('readonly', true);
                        }
                    }
                })
            });

            $('input[name="typeRadio"]').change(function () {
                // 獲取被點選的 radio 按鈕的值
                var vulnerablefile = document.getElementById('vulnerablefile');
                var filelable = document.getElementById('vulnerablefileLable');
                $('input[name="typeRadio"]').each(function () {
                    var radioId = $(this).attr('id');
                    // 檢查是否被點選
                    if ($(this).is(':checked')) {
                        switch (radioId) {
                            case 'typeRadio_3' :
                            case 'typeRadio_4' :
                            case 'typeRadio_5':
                                vulnerablefile.value = '';
                                filelable.innerHTML = '';
                                $('#vulnerablefile').prop('disabled', true);
                                $('#vulnerablefile').prop('readonly', true);
                                $('#vulnerablefile').prop('required', false);
                                break;
                            default:
                                $('#vulnerablefile').prop('disabled', false);
                                $('#vulnerablefile').prop('readonly', false);
                                $('#vulnerablefile').prop('required', true);
                                break;
                        }
                    }
                })
            });

            //同戶籍地址
            $('.sameaddress').on('change', function () {
                var selectedIndex = $(this).attr('data-index');
                if ($(this).is(':checked')) {
                    $('.select_contact_' + selectedIndex).prop('disabled', true);
                    //required
                    $('.select_contact_' + selectedIndex).prop('required', false);
                } else {
                    $('.select_contact_' + selectedIndex).prop('disabled', false);
                    //required
                    $('.select_contact_' + selectedIndex).prop('required', true);
                }
            });

            //是否有代理人(checkbox)
            $('#jqgetagent').on('change', function () {
                if ($(this).is(':checked')) {
                    //getagent
                    $('.getagent').show();
                } else {
                    $('.getagent').hide();
                }
            });

            //是否有配偶(丈夫)
            $('#couplecheck_1').on('change', function () {
                if ($(this).is(':checked')) {
                    const checkbox = document.getElementById('couplecheck_0');
                    checkbox.checked = false;
                    //disabled
                    $('.couple_input').prop('disabled', false);
                    //required
                    $('.couple_input').prop('required', true);
                } else {
                    //disabled
                    $('.couple_input').prop('disabled', true);
                    //required
                    $('.couple_input').prop('required', false);
                }
            });
            //是否有配偶(妻子)
            $('#couplecheck_0').on('change', function () {
                if ($(this).is(':checked')) {
                    const checkbox = document.getElementById('couplecheck_1');
                    checkbox.checked = false;
                    //disabled
                    $('.couple_input').prop('disabled', false);
                    //required
                    $('.couple_input').prop('required', true);
                } else {
                    //disabled
                    $('.couple_input').prop('disabled', true);
                    //required
                    $('.couple_input').prop('required', false);
                }
            });

            //是否為外籍(不需填身分證)
            $('.national_check').on('change', function () {
                var selectedIndex = $(this).attr('data-index');
                if ($(this).is(':checked')) {
                    $('.national_IDnumber_' + selectedIndex).prop('disabled', true);
                    //required
                    $('.national_IDnumber_' + selectedIndex).prop('required', false);
                } else {
                    $('.national_IDnumber_' + selectedIndex).prop('disabled', false);
                    //required
                    $('.national_IDnumber_' + selectedIndex).prop('required', true);
                }
            });
            //是否分戶
            $('#separatecheck').on('change', function () {
                if ($(this).is(':checked')) {
                    //disabled
                    $('input[name="separatenumber"]').prop('disabled', false);
                    //required
                    $('input[name="separatenumber"]').prop('required', true);
                } else {
                    //value
                    $('input[name="separatenumber"]').val('');
                    //disabled
                    $('input[name="separatenumber"]').prop('disabled', true);
                    //required
                    $('input[name="separatenumber"]').prop('required', false);
                }
            });

            //直系親屬(下拉選單)
            var dataDirect = [
                { id: 1, text: '父親' },
                { id: 2, text: '母親' },
                { id: 3, text: '兒子' },
                { id: 4, text: '女兒' },
                { id: 5, text: '媳婦' },
                { id: 6, text: '女婿' },
                { id: 7, text: '孫子' },
                { id: 8, text: '孫女' },
                { id: 9, text: '孫媳婦' },
                { id: 10, text: '孫女婿' },
                { id: 11, text: '阿公' },
                { id: 12, text: '阿嬤' },
                { id: 13, text: '爺爺' },
                { id: 14, text: '奶奶' },
                { id: 15, text: '公公' },
                { id: 16, text: '婆婆' },
                { id: 17, text: '胎兒' },
                //{ id: "1", text: '父親'},
                //{ id: "2", text: '母親'},
                //{ id: "3", text: '兒子'},
                //{ id: "4", text: '女兒'},
                //{ id: "5", text: '媳婦'},
                //{ id: "6", text: '女婿'},
                //{ id: "7", text: '孫子'},
                //{ id: "8", text: '孫女'},
                //{ id: "9", text: '孫媳婦'},
                //{ id: "10", text: '孫女婿'},
                //{ id: "11", text: '阿公'},
                //{ id: "12", text: '阿嬤'},
                //{ id: "13", text: '爺爺'},
                //{ id: "14", text: '奶奶'},
                //{ id: "15", text: '公公'},
                //{ id: "16", text: '婆婆'},
                //{ id: "17", text: '胎兒'},
                /*{ id: 18, text: '其他'},*/
            ];
            $(".select_direct").select2({
                tags: "true",
                data: dataDirect,
                placeholder: '親屬關係'
            })
            //是否填寫其他關係欄位
            //$('body').on('change', '.select_direct', function () {
            //    
            //    var selectorder = $(this).attr('data-order');
            //    var ship = $('.select_direct[data-order="' + selectorder + '"]').val();
            //    if (ship == '18') {
            //        $('.elseship[data-order="' + selectorder + '"]').prop('required', true);
            //        $('.elseship[data-order="' + selectorder + '"]').prop('disabled', false);
            //    }
            //    else {
            //        $('.elseship[data-order="' + selectorder + '"]').prop('required', false);
            //        $('.elseship[data-order="' + selectorder + '"]').prop('disabled', true);
            //    }
            //});

            //------------------
            // 代理人幾位  *
            //------------------
            //主要用途 : CoOwnerRadio(隱藏/顯示代理人資料)
            $('input[name="AgentRadio"]').change(function () {
                $('input[name="AgentRadio"]').each(function () {
                    var radioId = $(this).attr('id');
                    // 檢查是否被點選
                    if ($(this).is(':checked')) {
                        // 根據不同的 id 做相應的處理
                        switch (radioId) {
                            case "jqAgentRadio_0":
                                $('.getag1').hide();
                                $('.getag2').hide();
                                $('.getag3').hide();
                                break;
                            case "jqAgentRadio_1":
                                $('.getag1').show();
                                $('.getag2').hide();
                                $('.getag3').hide();
                                break;
                            case "jqAgentRadio_2":
                                $('.getag1').show();
                                $('.getag2').show();
                                $('.getag3').hide();
                                break;
                            case "jqAgentRadio_3":
                                $('.getag1').show();
                                $('.getag2').show();
                                $('.getag3').show();
                                break;
                        }
                    }
                })
            });
            //------------------
            // 保證人幾位  *
            //------------------
            //主要用途 : CoOwnerRadio(隱藏/顯示保證人資料)
            $('input[name="GuarantorRadio"]').change(function () {
                $('input[name="GuarantorRadio"]').each(function () {
                    var radioId = $(this).attr('id');
                    // 檢查是否被點選
                    if ($(this).is(':checked')) {
                        // 根據不同的 id 做相應的處理
                        switch (radioId) {
                            case "jqGuarantorRadio_0":
                                $('.getgu1').hide();
                                $('.getgu2').hide();
                                $('.getgu3').hide();
                                break;
                            case "jqGuarantorRadio_1":
                                $('.getgu1').show();
                                $('.getgu2').hide();
                                $('.getgu3').hide();
                                break;
                            case "jqGuarantorRadio_2":
                                $('.getgu1').show();
                                $('.getgu2').show();
                                $('.getgu3').hide();
                                break;
                            case "jqGuarantorRadio_3":
                                $('.getgu1').show();
                                $('.getgu2').show();
                                $('.getgu3').show();
                                break;
                        }
                    }
                })
            });
        });

        //------------------
        // 新增減少直系親屬  *
        //------------------
        function changeship(button, active) {
            var intselectorder = parseInt($(button).attr('data-order'));
            if (active == 'create') {
                if (intselectorder < 10) {
                    intselectorder = intselectorder + 1;
                    //顯示輸入欄位
                    $('.directformgroup[data-order="' + intselectorder + '"]').show();
                    $(".shipbutton").attr('data-order', intselectorder);
                    //設定選擇關係欄位
                    $('.select_direct[data-order="' + intselectorder + '"]').prop('required', true);
                    $('.input_direct[data-order="' + intselectorder + '"]').prop('required', true);
                }
            }
            else {
                //隱藏輸入欄位
                $('.select_direct[data-order="' + intselectorder + '"]').prop('required', false);
                $('.directformgroup[data-order="' + intselectorder + '"]').hide();
                //設定選擇關係欄位
                $('.select_direct[data-order="' + intselectorder + '"]').prop('required', true);
                $('.input_direct[data-order="' + intselectorder + '"]').prop('required', true);
                $('.input_direct[data-order="' + intselectorder + '"]').val('');
                if (intselectorder > 0) {
                    intselectorder = intselectorder - 1;
                }
                    $(".shipbutton").attr('data-order', intselectorder);
            }
        }

        //datepicker
        var controls = {
            leftArrow: '<i class="fal fa-angle-left" style="font-size: 1.25rem"></i>',
            rightArrow: '<i class="fal fa-angle-right" style="font-size: 1.25rem"></i>'
        }
        $('.birthday').datepicker(
            {
                format: 'yyyy-mm-dd',
                orientation: "請選擇出生年月日",
                todayHighlight: true,
                templates: controls
            });


    </script>
}