@model LiqunManagement.ViewModels.MembersLoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}

@*@Scripts.Render("~/bundles/modernizr")*@
<html lang="en">
<head>
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <title>
        系統登入
    </title>
    <meta name="description" content="Page Title">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <!-- Call App Mode on ios devices -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- base css -->
    <link id="vendorsbundle" rel="stylesheet" media="screen, print" href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/css/vendors.bundle.css">
    <link id="appbundle" rel="stylesheet" media="screen, print" href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/css/app.bundle.css">
    <link id="mytheme" rel="stylesheet" media="screen, print" href="#">
    <link id="myskin" rel="stylesheet" media="screen, print" href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/css/skins/skin-master.css">
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/img/favicon/favicon-32x32.png">
    <link rel="mask-icon" href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/img/favicon/safari-pinned-tab.svg" color="#5bbad5">

    <!--fontawesome-->
    <link href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/css/fa-brands.css" rel="stylesheet" />
    <link href="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/css/fa-regular.css" rel="stylesheet" />

    @*匯入驗證用所須的JavaScript*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <style>
        .validation-summary-errors {
            font-weight: 700 !important;
        }

            .validation-summary-errors ul {
                list-style-type: none; /* 去除默认的列表样式 */
                padding-left: 30px;
            }

            .validation-summary-errors li {
                color: red;
                padding: 13px 5px !important;
            }

                .validation-summary-errors li::marker {
                    content: "\f071  "; /* 自定义内容，可以是其他图标或文本 */
                    font-family: "Font Awesome 5 Pro" !important;
                }
    </style>


</head>
<body class="mod-bg-1 mod-nav-link nav-mobile-push desktop chrome webkit pace-done">
    <div class="container-fluid p-0">
        <div class="page-wrapper auth">
            <div class="page-inner bg-brand-gradient">
                <div class="page-content-wrapper bg-transparent m-0">
                    <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
                        <div class="d-flex align-items-center container p-0">
                            <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9 border-0">
                                <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                                    <img src="~/Content/smartadmin-package-4.5.1/smartadmin-html-full/dist/img/logo.png" alt="SmartAdmin WebApp" aria-roledescription="logo" />
                                    <span class="page-logo-text mr-1">SmartAdmin WebApp</span>
                                </a>
                            </div>
                            <a href="@Url.Action("Register", "Members")" class="btn-link text-white ml-auto">
                                Create Account
                            </a>
                        </div>
                    </div>
                    <div class="flex-1" style="background: url(img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;">
                        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
                            <div class="row">
                                <div class="col col-md-6 col-lg-7 hidden-sm-down">
                                    <h2 class="fs-xxl fw-500 mt-4 text-white">
                                        The simplest UI toolkit for developers &amp; programmers
                                        <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60">
                                            Presenting you with the next level of innovative UX design and engineering. The most modular toolkit available with over 600+ layout permutations. Experience the simplicity of SmartAdmin, everywhere you go!
                                        </small>
                                    </h2>
                                    <a href="#" class="fs-lg fw-500 text-white opacity-70">Learn more &gt;&gt;</a>
                                    <div class="d-sm-flex flex-column align-items-center justify-content-center d-md-block">
                                        <div class="px-0 py-1 mt-5 text-white fs-nano opacity-50">
                                            Find us on social media
                                        </div>
                                        <div class="d-flex flex-row opacity-70">
                                            <a href="#" class="mr-2 fs-xxl text-white">
                                                <i class="fab fa-facebook-square"></i>
                                            </a>
                                            <a href="#" class="mr-2 fs-xxl text-white">
                                                <i class="fab fa-twitter-square"></i>
                                            </a>
                                            <a href="#" class="mr-2 fs-xxl text-white">
                                                <i class="fab fa-google-plus-square"></i>
                                            </a>
                                            <a href="#" class="mr-2 fs-xxl text-white">
                                                <i class="fab fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 ml-auto">
                                    <h1 class="text-white fw-300 mb-3 d-sm-block d-md-none">
                                        Secure login
                                    </h1>
                                    <div class="card p-4 rounded-plus bg-faded">

                                        @using (Html.BeginForm("Index", "FormStuff", FormMethod.Post, new { @id = "js-login", }))
                                        {
                                            //建立登入畫面用的表格
                                            <table style="width:100%;">
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Account, new { @class = "form-label", @required = "" })
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text" name="Account" class="form-control form-control-lg" />
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Password, new { @class = "form-label" })
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="password" name="Password" class="form-control form-control-lg" />
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            @Html.ValidationSummary()
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:100%;">
                                                        <div class="row no-gutters">
                                                            <div class="col-lg-6 pr-lg-1 my-2">
                                                                <button type="submit" class="btn btn-success btn-block btn-lg waves-effect waves-themed" style="height:60px; font-size:32px;"><i class="fab fa-line fa-lg"></i></button>
                                                                @*<button id="js-login-btn" type="button" class="btn btn-info btn-block btn-lg waves-effect waves-themed" style="height:60px;" onclick="register()">註冊</button>*@
                                                            </div>
                                                            <div class="col-lg-6 pl-lg-1 my-2">
                                                                <button id="js-login-btn" type="submit" class="btn btn-info btn-block btn-lg waves-effect waves-ripple" style="height:60px;">登入</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
                                2020 © SmartAdmin by&nbsp;<a href="https://www.gotbootstrap.com" class="text-white opacity-40 fw-500" title="gotbootstrap.com" target="_blank">gotbootstrap.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

@Scripts.Render("~/bundles/bootstrap")
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-141754477-1', 'auto');
    ga('send', 'pageview');

</script>
<script>
            $("#js-login-btn").click(function(event)
            {

                // Fetch form to apply custom Bootstrap validation
                var form = $("#js-login")

                if (form[0].checkValidity() === false)
                {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.addClass('was-validated');
                // Perform ajax submit here...
            });

    @*function register() {
        debugger;
        window.location.href = "href= '@Html.Action("Register", "Members")'";
    }*@
</script>